<div class="animated fadeIn" id="tour-dash">
    
    <div class="p-w-md m-t-sm">
        <div class="row">

            <div class="col-sm-4">
                <% if !@whole_month_ad_sales.nil? %>
                    <h1 class="m-b-xs">
                        <%= @whole_month_ad_sales %>
                    </h1>
                    <small>
                        Sales in current month
                    </small>
                    <div id="sales" class="m-b-sm"></div>
                    <div class="row">
                        <div class="col-xs-6">
                            <small class="stats-label">Views</small>
                            <h4><%= @whole_month_ad_views %></h4>
                        </div>
                        <div class="col-xs-6">
                            <small class="stats-label">% Views vs Sales</small>
                            <h4><%= ((@whole_month_ad_sales.to_f/@whole_month_ad_views.to_f)*100).round(2) %>%</h4>
                        </div>
                    </div>
                <% else %>
                    <h1>No sales this month</h1>
                <% end %>

            </div>
            <div class="col-sm-4">
                <h1 class="m-b-xs">
                    <%= @ad_view_analytics.count %>
                </h1>
                <small>
                    Total Ad Views
                </small>
                <div id="views" class="m-b-sm"></div>
                <div class="row">
                    <div class="col-xs-6">
                        <small class="stats-label">% Total Views vs Total Sales</small>
                        <h4><%= ((@ad_sales_analytics.count.to_f/@ad_view_analytics.count.to_f)*100).round(2) %>%</h4>
                    </div>

                    <div class="col-xs-6">
                        <small class="stats-label">Total Unique Views</small>
                        <h4><%= @ad_unique_views.count %></h4>
                    </div>
                </div>


            </div>
            <div class="col-sm-4">

                <div class="row m-t-xs keywords">
                    <div class="col-xs-6">
                        <h5 class="m-b-xs">Top Profile Keywords</h5>
                        <% if defined?(@mostpopprofile[0]) %>
                            <h1 class="no-margins"><%= @mostpopprofile[0] if !@mostpopprofile[0].nil %></h1>
                            <div class="font-bold text-navy"><%= ((@mostpopprofile[1].size.to_f / @profile_view_analytics.size.to_f)*100).round(2) %>% <i class="fa fa-bolt"></i></div>
                            <ul>
                                <% @profile_keywords.each do |key, keyword| %>
                                    <li><%= key %> <%= ((keyword.size.to_f / @profile_view_analytics.size.to_f)*100).round(2) %>% <i class="fa fa-bolt"></i></li>
                                <% end %>
                            </ul>
                        <% else %>
                            <h1>No Data Available Yet</h1>
                        <% end %>
                    </div>
                    <div class="col-xs-6">
                        <h5 class="m-b-xs">Top Advert Keywords</h5>
                        <% if defined?(@mostpopadvert[0]) %>
                            <h1 class="no-margins"><%= @mostpopadvert[0] if @mostpopadvert[0].nil %></h1>
                            <div class="font-bold text-navy"><%= ((@mostpopadvert[1].size.to_f / @ad_view_analytics.size.to_f)*100).round(2) %>% <i class="fa fa-bolt"></i></div>
                            <ul>
                                <% @advert_keywords.each do |key, keyword| %>
                                    <li><%= key %> <%= ((keyword.size.to_f / @ad_view_analytics.size.to_f)*100).round(2) %>% <i class="fa fa-bolt"></i></li>
                                <% end %>
                            </ul>
                        <% else %>
                            <h1>No Data Available Yet</h1>
                        <% end %>
                    </div>
                </div>
            </div>

        </div>

        <hr/>

        <div class="row">
            <div class="col-lg-12">
                <div class="flot-chart m-b-xl">
                    <h1>Profile Views <small>(current month vs last month)</small></h1>
                    <div class="flot-chart-content" id="profile-view-compare"></div>
                    <div class="col-xs-12 text-center">
                        <div class="col-xs-4 curMonth" style="display:inline-block; float:none;"><span style="background: #1ab394;height: 10px; width:10px; vertical-align:middle; display: inline-block;"></span> Current Month</div>
                        <div class="col-xs-4 PrevMonth" style="display:inline-block; float:none;"><span style="background: #1C84C6;height: 10px; width:10px; vertical-align:middle; display: inline-block;"></span> Previous Month</div>
                    </div>
                    <br/>
                </div>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped">

                                <tbody>
                                <% @classAds.each_with_index do |ad, index| %>
                                    <tr>
                                        <td>#<%= index+1 %></td>
                                        <td><%= ad.adtitle %></td>
                                        <td><%= number_to_currency(ad.price, precision: 2, unit: "£") %> </td>
                                        <td><%= ad.classtypes.typename %></td>
                                        <td><i class="fa fa-eye"></i> <strong><%= ad.analytic.count %></strong></td>
                                        <td><%= ad.created_at.to_s(:short)  %></td>
                                        <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                    </tr>
                                <% end %>
                                </tbody>
                            </table>
                        </div>

                        <% if !@classAds.nil? %>
                            <%= paginate @classAds %>
                        <% end %>

                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

<% content_for :javascript do %>

<script type="text/javascript">

    $(document).ready(function(){

        <% if !params[:tour].blank? %>
            theTour()
        <% end %>

        var sparklineCharts = false
    
        <% if defined?(@monthy_daily_ad_sales)  %>
            <% if !@monthy_daily_ad_sales.nil? %>
                var sparklineCharts = function(){
                    $("#sales").sparkline([<% @monthy_daily_ad_sales.sort.each do |month, data| %><%= "#{data.count}," %><% end %>], {
                        type: 'line',
                        width: '100%',
                        height: '50',
                        lineColor: '#1ab394',
                        fillColor: "transparent"
                    });
                }
            <% end %>
            var sparkResize;

            $(window).resize(function(e) {
                clearTimeout(sparkResize);
                sparkResize = setTimeout(sparklineCharts, 500);
            });

            sparklineCharts();
        <% end %>

        <% if defined?(@monthy_daily_ad_views) %>
            var sparklineCharts = function(){
                $("#views").sparkline([<% @monthy_daily_ad_views.sort.each do |month, data| %><%= "#{data.count}," %><% end %>], {
                    type: 'line',
                    width: '100%',
                    height: '50',
                    lineColor: '#1ab394',
                    fillColor: "transparent"
                });
            };
            var sparkResize;

            $(window).resize(function(e) {
                clearTimeout(sparkResize);
                sparkResize = setTimeout(sparklineCharts, 500);
            });

            sparklineCharts();
        <% end %>

        <% if defined?(@last_month_profile_views) and @last_month_profile_views.kind_of?(Array)  %>
            var data2 = [
                <% (1..31).each do |i| %>
                    [<%= i %>,<%= @last_month_profile_views["#{i.to_s.rjust(2, '0')}#{@last_start_month}"] ? @last_month_profile_views["#{i.to_s.rjust(2, '0')}#{@last_start_month}"].size : 0 %>],
                <% end %>
            ];
        <% end %>

        <% if defined?( @this_month_profile_views) and @this_month_profile_views.kind_of?(Array) %>
            var data1 = [
                <% (1..31).each do |i| %>
                    [<%= i %>,<%= @this_month_profile_views["#{i.to_s.rjust(2, '0')}#{@cur_start_month}"] ? @this_month_profile_views["#{i.to_s.rjust(2, '0')}#{@cur_start_month}"].size : 0 %>],
                <% end %>
            ];
        <% end %>

        if($("#profile-view-compare").length){
            $.plot($("#profile-view-compare"), 
                [ <% if defined?( @last_month_profile_views)  and @last_month_profile_views.kind_of?(Array)  %> {data:data2, label: "Previous Month"}, <% end %>
                  <% if defined?( @this_month_profile_views)  and @this_month_profile_views.kind_of?(Array)  %>{data:data1, label: "Current Month"} <% end %>
                ],
                {
                    series: {
                        lines: {
                            show: true,
                            fill: true
                        },
                        splines: {
                            show: false,
                            tension: 0.1,
                            lineWidth: 1,
                            fill: 0.4
                        },
                        points: {
                            radius: 2,
                            show: true
                        },
                        shadowSize: 2
                    },
                    grid: {
                        hoverable: true,
                        clickable: true,

                        borderWidth: 2,
                        color: 'transparent'
                    },
                    colors: ["#1C84C6","#1ab394"],
                    legend: false,
                    yaxis: {
                        alignTicksWithAxis: 1,
                    },
                    xaxis:{
                        ticks: 15,
                        alignTicksWithAxis: 1,
                        minTickSize: 1
                    },
                    tooltip:{
                        show: true,
                        lines: true,
                        content: "%s - Date: %x - Views: %y"
                    }
                }

            )
        };

    });



</script>
    
<% end %>