<%= form_for(@profiles, url: profile_path, :html => {:multipart => true, class: 'wizard-bg animated', id: 'profile-wizard'}) do |f| %>
    <h1>Setup</h1>
    <fieldset>
        <h2>Basic Profile Information:</h2>
        <div class="row">
            <div class="col-lg-8">
              <div class="form-group">
                <%= f.label :name, class: 'control-label' %>
                  <%= f.text_field :name, class: 'form-control', autocomplete: "off" %>
              </div>

              <div class="form-group">
                <%= f.label :golfclub, class: 'control-label' %>
                  <%= f.text_field :golfclub, class: 'form-control', autocomplete: "off"  %>
              </div>

              <div class="form-group">
                <%= f.label :phone, class: 'control-label' %>
                  <%= f.text_field :phone, class: 'form-control', autocomplete: "off" %>
              </div>

              <div class="form-group">
                <%= f.label :position, class: 'control-label' %>

                  <%= f.select :position, [['Club Pro',"1"], ['Pro Assistant',"2"]], {}, {autocomplete: "off", class: "dropdown"} %>
              </div>
              <div class="form-group">
                  <%= f.label :fb, 'Facebook Page URL', class: 'control-label' %>
                  <%= f.text_field :fb, class: 'form-control', autocomplete: "off", placeholder: 'https://www.facebook.com/profindergolf'   %>
                </div>
                <div class="form-group">
                  <%= f.label :twitter, 'Twitter Username', class: 'control-label' %>
                  <%= f.text_field :twitter, class: 'form-control', autocomplete: "off", placeholder: '@profindergolf'  %>
                </div>
                <div class="form-group">
                  <%= f.label :youtube, 'Youtube Channel URL' , class: 'control-label' %>
                  <%= f.text_field :youtube, class: 'form-control', autocomplete: "off", placeholder: 'https://www.youtube.com/c/ProfinderGolf'  %>
                </div>
            </div>
            <div class="col-lg-4">
                <div style="margin-top: 20px">
                    <h3>Your Name</h3>
                    <p>What do you want everyone to know you as? We recommend your birth name so people can find you by your real full name.</p>
                    <h3>Golf Club</h3>
                    <p>The club in which you are a pro at. We check with clubs the accuracy of this information so please make sure you fill this information correctly.</p>
                    <h3>Phone</h3>
                    <p>This information isn't available to the public unless they purchase an item from you. We will use it for sales invoices and let buyers know they can contact you via phone.</p>
                    <h3>Position</h3>
                    <p>Your role at your golf club. We check with clubs the accuracy of this information so please make sure you fill this information correctly.</p>
                    <h3>Facebook Page URL (optional)</h3>
                    <p>If you or your golf club has a facebook page or profile, enter the web address to that page or profile and we'll add a link to it on your profile.</p>
                    <h3>Twitter Username (optional)</h3>
                    <p>If you or your golf club has a twitter account, enter the web address to that account and we'll add a link to it on your profile.</p>
                    <h3>Youtube Channel (optional)</h3>
                    <p>If you or your golf club has a Youtube channel, enter the web address to that channel and we'll add a link to it on your profile.</p>
                </div>
            </div>
        </div>
    </fieldset>
    <h1>Profile Avatar</h1>
    <fieldset>
        <h2>Upload Image <small>(file size < 1mb)</small></h2>
        <div class="row">
            <div class="col-lg-8">
                <div class="form-group">
                  <div class="image-crop">
                    <div class="img-container">
                      <% if !@profile.user.avatars.blank? %>
                        <%= image_tag @profile.user.avatars.theimage.url, :id => 'image' if @profile.user.avatars.theimage? %>
                      <% else %>
                        <%= image_tag "placeholder.png", :id => 'image' %>
                      <% end %>
                    </div>
                  </div> 
                </div>
            </div>
            <div class="col-lg-4">
                <div>
                  <h4>Preview image</h4>
                  <div class="docs-preview clearfix">
                    <div class="img-preview preview-lg"></div>
                  </div>
                  <br/>
                  <div class="btn-group">
                    <input type="text" name="profiles[theimage]" class="hide" id="image-url" value=""/>
                    <label title="Upload image file" for="profiles_theimage" class="btn btn-primary">
                        <input type="file" accept="image/*" name="cropimage" id="profiles_theimage" class="hide">
                        Upload new image
                    </label>
                  </div>
                  <h4>Control Options</h4>
                  <div class="btn-group col-lg-12">
                      <button class="btn btn-white col-lg-6" id="zoomIn" type="button">Zoom In</button>
                      <button class="btn btn-white col-lg-6" id="zoomOut" type="button">Zoom Out</button>
                      <button class="btn btn-white col-lg-6" id="rotateLeft" type="button">Rotate Left</button>
                      <button class="btn btn-white col-lg-6" id="rotateRight" type="button">Rotate Right</button>
                  </div>
                </div>
            </div>
        </div>
    </fieldset>

    <h1>Profile Bio</h1>
    <fieldset>
        <h2>Your Profile Description</h2>
        <div class="row">
            <div class="col-lg-8">
                <div class="form-group">
                  <%= f.label :bio, class: 'control-label' %>
                  <%= f.text_area :bio, class: 'form-control summernote', style: 'width:100%' %>
                </div>
                <hr/>
                <div class="form-group">
                  <%= f.label :postcode, class: 'control-label' %>
                    <%= f.text_field :postcode, class: 'form-control', autocomplete: "off" %>
                </div>
                <div id='postcode' > </div>
            </div>
            <div class="col-lg-4">
                <div style="margin-top: 20px">                        
                    <h3>Bio</h3>
                    <p>Enter a bio for yourself as a golf pro at your golf club. <strong>Tip:</strong> Write about what you can and do offer to members and visitors to make you stand out from other golf pros.</p>
                    <h3>Postcode</h3>
                    <p>Enter the postcode of your golf club and our interactive map will pin point it's location. You can change the postcode after the map has placed a pin and it will re-locate the pin.</p>
                </div>
            </div>
        </div>
    </fieldset>

    <h1>Location</h1>
    <fieldset>
        <h2>Your Club Location</h2>
        <div class="row">
            <div class="col-lg-8">
              <div class="form-group table">
                <p><strong>Club Opening Hours</strong></p>
                <table class="table col-md-12">
                  <tr>
                    <td>Mondays:</td>
                    <td>
                      <div class="input-group clockpicker left col-md-5">
                          <input type="text" class="form-control" name="profile[times][mon][open]" value="<%= defined?(@profiles.times['mon']['open']) ? @profiles.times['mon']['open'] : "09:00" %>">
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-time"></span>
                          </span>
                      </div>
                      <div class="col-md-2 sep text-center">&dash;</div>
                      <div class="input-group clockpicker col-md-5 pull-right">
                          <input type="text" class="form-control" name="profile[times][mon][close]" value="<%= defined?(@profiles.times['mon']['close']) ? @profiles.times['mon']['close'] : "17:00" %>">
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-time"></span>
                          </span>
                      </div>
                    </td>
                  </tr>
                    <td>Tuesdays:</td>
                    <td>
                      <div class="input-group clockpicker left col-md-5">
                          <input type="text" class="form-control" name="profile[times][tues][open]" value="<%= defined?(@profiles.times['tues']['open']) ? @profiles.times['tues']['open'] : "09:00" %>">
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-time"></span>
                          </span>
                      </div>
                      <div class="col-md-2 sep text-center">&dash;</div>
                      <div class="input-group clockpicker col-md-5 pull-right">
                          <input type="text" class="form-control" name="profile[times][tues][close]" value="<%= defined?(@profiles.times['tues']['close']) ? @profiles.times['tues']['close'] : "17:00" %>">
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-time"></span>
                          </span>
                      </div>
                    </td>
                  <tr>
                  </tr>
                    <td>Wednesdays:</td>
                    <td>
                      <div class="input-group clockpicker left col-md-5">
                          <input type="text" class="form-control" name="profile[times][wed][open]" value="<%= defined?(@profiles.times['wed']['open']) ? @profiles.times['wed']['open'] : "09:00" %>">
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-time"></span>
                          </span>
                      </div>
                      <div class="col-md-2 sep text-center">&dash;</div>
                      <div class="input-group clockpicker col-md-5 pull-right">
                          <input type="text" class="form-control" name="profile[times][wed][close]" value="<%= defined?(@profiles.times['wed']['close']) ? @profiles.times['wed']['close'] : "17:00" %>">
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-time"></span>
                          </span>
                      </div>
                    </td>
                  <tr>
                    <td>Thursdays:</td>
                    <td>
                      <div class="input-group clockpicker left col-md-5">
                          <input type="text" class="form-control" name="profile[times][thur][open]" value="<%= defined?(@profiles.times['thur']['open']) ? @profiles.times['thur']['open'] : "09:00" %>">
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-time"></span>
                          </span>
                      </div>
                      <div class="col-md-2 sep text-center">&dash;</div>
                      <div class="input-group clockpicker col-md-5 pull-right">
                          <input type="text" class="form-control" name="profile[times][thur][close]" value="<%= defined?(@profiles.times['thur']['close']) ? @profiles.times['thur']['close'] : "17:00" %>">
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-time"></span>
                          </span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Fridays:</td>
                    <td>
                      <div class="input-group clockpicker left col-md-5">
                          <input type="text" class="form-control" name="profile[times][fri][open]" value="<%= defined?(@profiles.times['fri']['open']) ? @profiles.times['fri']['open'] : "09:00" %>">
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-time"></span>
                          </span>
                      </div>
                      <div class="col-md-2 sep text-center">&dash;</div>
                      <div class="input-group clockpicker col-md-5 pull-right">
                          <input type="text" class="form-control" name="profile[times][fri][close]" value="<%= defined?(@profiles.times['fri']['close']) ? @profiles.times['fri']['close'] : "17:00" %>">
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-time"></span>
                          </span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Saturdays:</td>
                    <td>
                      <div class="input-group clockpicker left col-md-5">
                          <input type="text" class="form-control" name="profile[times][sat][open]" value="<%= defined?(@profiles.times['sat']['open']) ? @profiles.times['sat']['open'] : "09:00" %>">
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-time"></span>
                          </span>
                      </div>
                      <div class="col-md-2 sep text-center">&dash;</div>
                      <div class="input-group clockpicker col-md-5 pull-right">
                          <input type="text" class="form-control" name="profile[times][sat][close]" value="<%= defined?(@profiles.times['sat']['close']) ? @profiles.times['sat']['close'] : "17:00" %>">
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-time"></span>
                          </span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Sundays:</td>
                    <td>
                      <div class="input-group clockpicker left col-md-5">
                          <input type="text" class="form-control" name="profile[times][sun][open]" value="<%= defined?(@profiles.times['sun']['open']) ? @profiles.times['sun']['open'] : "09:00" %>">
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-time"></span>
                          </span>
                      </div>
                      <div class="col-md-2 sep text-center">&dash;</div>
                      <div class="input-group clockpicker col-md-5 pull-right">
                          <input type="text" class="form-control" name="profile[times][sun][close]" value="<%= defined?(@profiles.times['sun']['close']) ? @profiles.times['sun']['close'] : "17:00" %>">
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-time"></span>
                          </span>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-lg-4">
                <div style="margin-top: 20px">                        
                    <h3>Club Opening Hours</h3>
                    <p>Click on the fields to set the opening and closing times of your golf club for a typical week. You can always return here to update or change the times.</p>
                </div>
            </div>
        </div>
    </fieldset>

    <h1>Services</h1>
    <fieldset>
        <h2>Your Services</h2>
        <div class="row">
            <div class="col-lg-8">
              <div class="form-group">
                <label class="control-label">Manufacturers</label>
                <select name="profiles[brands][]" id="brands" multiple="" autocomplete="off">
                  <option></option>
                  <% @brands.each do |brand| %>
                    <% selected = false %>
                    <% @profile.profilebrand.each do |probrand| %>
                      <% selected = true if probrand.brand_id == brand.id %>
                    <% end %>
                    <option <%= 'selected="selected"' if selected == true %> value="<%= brand.id %>"><%= brand.brandname.humanize %></option>
                  <% end %>
                </select>
              </div>
              <hr/>
              <div class="form-group" id="theServices">
                <% @services.each_with_index do |service, index| %>
                  <% checked = false %>
                  <% @profile.services.each do |proserv|
                    if proserv.id == service.id
                      checked = true
                    end
                  end %>
                  <% if index % 3 === 0 %><hr/><% end %>
                  <div class="col-lg-4 <%= "clearme" if index % 3 === 0 %>">
                      <div class="checkbox checkbox-success checkbox-inline">
                          <%= check_box_tag("service[#{service.id}]",service.id, (checked == true)) %>
                          <%= label_tag(service.id, service.servtitle) %>
                      </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-lg-4">
                <div style="margin-top: 20px">  
                    <h3>Manufacturers</h3>      
                    <p>Select from the dropdown, a list of manufacturers that you stock. You are limited to 10 choices so make sure you choose the 10 main manufacturers you sell stock for in your pro shop. You can always return back here to  change the list in the future.</p>                
                    <h3>Services</h3>
                    <p>Select the main services you provide at your golf club. <strong>Tip:</strong> Select only the main services. Customers are more likely to believe that you only offer a limited set of services than selecting all the services. Although, if you do offer everything, feel free to selected them all!</p>
                </div>
            </div>
        </div>
    </fieldset>
<% end %>

<script>
  var serviceLimit = <%= defined?(@profile.plans.service) ? @profile.plans.service : "5" %>
</script>