<div class="wrapper wrapper-content container animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>
                        Edit Your Profile
                    </h2>
                    <p>
                        Use for the fields below to help put your profile together. <strong>NOTE:</strong> Any changes made and saved will be applied to your live profile immediately.
                    </p>
                    <%= render 'form' %>
                </div>
            </div>
        </div>

    </div>
</div>