<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Profile Image Gallery</h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to "Dashboard", dashboard_path %>
            </li>
            <li>
                <%= link_to "My Profile", my_profile_path %>
            </li>
            <li class="active">
                <strong>Profile Image Gallery</strong>
            </li>
        </ol>
    </div>
</div>
 
<div class="lightBoxGallery">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="file-manager">
                            <% if !@limit %>
                                <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#imageUpload">Upload Files</button>
                            <% else %>
                                <span class="showtooltip" data-toggle="tooltip" data-placement="top" title="You have reached your extra image limit. Please upgrade your account to make more.">
                                    <button class="btn btn-primary btn-block disabled">Upload Files</button>
                                </span>
                            <% end %>
                            <div class="hr-line-dashed"></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <% if !@images.nil? %>
                            <% @images.each do |file| %>
                                <div class="file-box col-lg-4">
                                    <div class="file">
                                        <div class="actions"><a href="<%= file.theimage.url %>" class="btn btn-primary" data-gallery=""><i class="fa fa-eye"></i></a>&nbsp;<a class="btn btn-primary delete" data-userid="<%= @profile.id%>" data-imgid="<%= file.id %>"><i class="fa fa-trash"></i></a></div>
                                        <span class="corner"></span>

                                        <div class="icon">
                                            <img alt="image" class="img-responsive" src="<%= file.theimage.url %>">
                                        </div>
                                        <div class="file-name">
                                            <%= File.basename(file.theimage.path) %>
                                            <br />
                                            <small><% file.created_at %></small>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        <% else %>
                            <h3>No Images yet. <a href="#" class="btn btn-primary">Upload Image</a></h3>
                        <% end %>

                    </div>
                </div>
            </div>  
        </div>
    </div>
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
</div>

<div class="modal inmodal fade" id="imageUpload" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="feedback_form" novalidate="novalidate" accept-charset="UTF-8">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Image Upload</h4>
                    <small class="font-bold">Upload an Image from your computer</small>
                </div>
                <div class="modal-body">
                    <div id="loadingImg" class="loading hide">
                       <div class="progress">
                          <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group">
                              <div class="image-crop">
                                <div class="img-container">
                                    <%= image_tag "placeholder.png", :id => 'image'  %>
                                </div>
                              </div> 
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div>                  
                              <div class="btn-group">
                                <label title="Upload image file" for="gallery_upload_image" class="btn btn-primary">
                                    <input type="file" accept="image/*" name="cropimage" id="gallery_upload_image" class="hide">
                                    Upload new image
                                </label>
                              </div>
                              <h4>Control Options</h4>
                              <div class="btn-group col-lg-12">
                                  <button class="btn btn-white col-lg-6" id="zoomIn" type="button">Zoom In</button>
                                  <button class="btn btn-white col-lg-6" id="zoomOut" type="button">Zoom Out</button>
                                  <button class="btn btn-white col-lg-6" id="rotateLeft" type="button">Rotate Left</button>
                                  <button class="btn btn-white col-lg-6" id="rotateRight" type="button">Rotate Right</button>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>  

                <div class="modal-footer">
                    <button type="cancel" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="submit" data-id="<%= @profile.id%>" id="uploadButton" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
