<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Profile Overview</h2>
        <ol class="breadcrumb">
            <li>
                <p>This is a preview overview of your public profile</p>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row animated fadeInRight">
      <div class="col-md-4">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>Profile Details <span class="showtooltip" data-toggle="tooltip" data-placement="top" title="The basic details about you as your golf club's pro."><i class="fa fa-question-circle"></i></span></h5>
              </div>
              <div>
                  <div class="ibox-content no-padding border-left-right">
                      <img alt="image" class="img-responsive" src="<%= image_path(@avatar.theimage) if !@avatar.theimage.blank? %>">
                  </div>
                  <div class="ibox-content profile-content">
                      <h4><strong><%= @profile.name %></strong></h4>
                      <h5><%= @profile.golfclub %></h5>
                      <% latLon = "#{@profile.latitude}, #{@profile.longitude}" %>
                      <p><i class="fa fa-map-marker"></i> <%= Geocoder.search(latLon).first.city if !Geocoder.search(latLon).first.nil? %>, <%= Geocoder.search(latLon).first.sub_state if !Geocoder.search(latLon).first.nil? %></p>
                      <div id='showClub' style="height:200px; width:100%;"></div>
                      <hr/>
                      <div class="manufactors clearfix">
                        <h4>Manufacturers We Stock:</h4>
                        <ul class="col-xs-12 clearfix">
                          <% @profile.brand.each do |brand| %>
                            <li class="sm-6"><%= brand.brandname %></li>
                          <% end %>
                        </ul>
                      </div>
                      <div class="user-button">
                          <div class="row">
                              <div class="col-md-12">
                                  <a href="/profiles/<%= @profile.id %>/edit" type="button" class="btn btn-primary btn-md col-lg-5"><i class="fa fa-edit"></i> Edit Profile</a>
                                  <a href="/profiles/<%= @profile.id %>" type="button" class="btn btn-primary btn-md col-lg-5 pull-right"><i class="fa fa-user"></i> View Profile</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-8">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>Latest Status Post <span class="showtooltip" data-toggle="tooltip" data-placement="top" title="Let your potential customers know thw latest news in small twitter-like status updates."><i class="fa fa-question-circle"></i></span></h5>
              </div>
              <div class="ibox-content">

                  <div>
                      <div class="feed-activity-list" id="status-list">
                          <% if !@profile.profilestatus.blank? %>
                            <div class="status" id="status-<%= @profile.profilestatus.id %>"><p  class="col-sm-10"><%= @profile.profilestatus.status %></p><a href="#" id="deleteStatus" data-id="<%= @profile.profilestatus.id %>" onclick="return false" class="col-sm-1 pull-right btn btn-danger danger"><i class="fa fa-trash"></i></a></div>
                          <% else %>
                            <p><strong>You have not posted a status update yet. <a href="#" onclick="return false" class="btn btn-primary" data-toggle="modal" data-target="#statusUpdate">Post New Status</a></strong></p>
                          <% end %>
                      </div>
                      <a href="#" onclick="return false" class="btn btn-primary" data-toggle="modal" data-target="#statusUpdate">Post New Status</a>
                  </div>

              </div>
          </div>

          <div class="ibox float-e-margins">
            <div class="ibox-title">
                  <h5>About Me</h5>
              </div>
             <div class="ibox-content">
                    <div class="row services-list">
                        <ul>
                          <% @profile.services.each do |service| %>
                            <li class="col-sm-4 <%= service.servtitle.parameterize %>">
                              <%= '<i class="fa fa-shopping-cart"></i>'.html_safe if service.servtitle.parameterize == "pro-retail-shop" %>
                              <%= '<i class="fa fa-dot-circle-o"></i>'.html_safe if service.servtitle.parameterize == "driving-range" %>
                              <%= '<i class="fa fa-cutlery"></i>'.html_safe if service.servtitle.parameterize == "restaurant-bar" %>
                              <%= '<i class="fa fa-graduation-cap"></i>'.html_safe if service.servtitle.parameterize == "golf-lessons" %>
                              <%= '<i class="fa fa-car"></i>'.html_safe if service.servtitle.parameterize == "buggy-cart-hire" %>
                              <%= '<i class="fa fa-hand-paper-o"></i>'.html_safe if service.servtitle.parameterize == "custom-fitting" %>
                              <%= '<i class="fa fa-area-chart"></i>'.html_safe if service.servtitle.parameterize == "trackman-flightscope" %>
                              <%= '<i class="fa fa-wrench"></i>'.html_safe if service.servtitle.parameterize == "club-repair" %>
                              <%= '<i class="fa fa-comment"></i>'.html_safe if service.servtitle.parameterize == "after-dinner-speaking" %>
                              <%= '<i class="fa fa-flag"></i>'.html_safe if service.servtitle.parameterize == "pratice-facilities" %>
                              <%= service.servtitle %>
                            </li>
                          <% end %>
                        </ul>
                    </div>
                <hr/>
                <%= @profile.bio.html_safe %>
             </div>
          </div>  

          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>Addidtional Information <span class="showtooltip" data-toggle="tooltip" data-placement="top" title="Information your provide that is stored in our system"><i class="fa fa-question-circle"></i></span></h5>
                  <p class="note"><small><strong>Note:</strong> This information is not displayed on your public profile.</small></p>
              </div>
              <div class="ibox-content">

                  <div>
                      <div class="feed-activity-list">
                            <dl class="dl-horizontal m-t-md small">
                                <dt>Phone Number</dt>
                                <dd><%= @profiles.phone %></dd>
                                <dt>Position at Club</dt>
                                <dd><%= (@profiles.position == 1? 'Club Pro': 'Pro Assistant') %></dd>
                                <dt>Club Postcode</dt>
                                <dd><%= @profiles.postcode %></dd>
                            </dl>
                      </div>

                  </div>

              </div>
          </div>

      </div>
  </div>
</div>

<div class="modal inmodal fade" id="statusUpdate" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form id="feedback_form" novalidate="novalidate" accept-charset="UTF-8">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">New Status Post</h4>
                </div>
                <div class="modal-body">
                    <div id="loadingImg" class="loading hide">
                       <div class="progress">
                          <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                          </div>
                        </div>
                    </div>
                    <div class="row center-block text-center">
                        <textarea class="message col-xs-12" rows="2" cols="30" placeholder="What's Happening?"></textarea>
                        <span class="countdown"></span>
                    </div>
                </div>  

                <div class="modal-footer">
                    <button type="cancel" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="submit" data-id="<%= @profile.id %>" id="postStatus" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
      var proLat = <%= @profile.latitude %>;
      var proLon = <%= @profile.longitude %>;
</script>

<% content_for :javascript do %>

  <script type="text/javascript">

      $(document).ready(function(){

        <% if !params[:tour].blank? %>
            theTour()
        <% end %>

      });

  </script>

<% end %>