<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>My Account <small>details of your Pro Finder Golf account</small></h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Account Details</h3>
                            <p>Use the fields below to update your account details.</p>
                            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                                <div class="form-group">
                                    <%= f.label :email %>
                                    <%= f.email_field :email, class: 'form-control', autofocus: true %>
                                </div>
                                <div class="form-group">
                                    <%= f.label :password %>
                                    <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
                                    <i>(leave blank if you don't want to change it)</i>
                                </div>
                                <div class="form-group">
                                    <%= f.label :password_confirmation %>
                                    <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
                                    <i>(leave blank if you don't want to change it)</i>
                                </div>
                                <div class="form-group">
                                    <%= f.label :current_password %>
                                    <%= f.password_field :current_password, class: 'form-control', autocomplete: "off" %>
                                    <i>(we need your current password to confirm your changes)</i>
                                </div>    

                                <% if resource.profile.plans.local_items %> 
                                    <div class="agile-list">
                                        <% if resource.profile.merchant_setup.nil? %>
                                            <li id="task2" class="danger-element">
                                                <h3>Merchant Account Incomplete</h3>
                                                Your Stripe Merchant Account has not been setup. Please use the button below to complete it. <br/><strong>You will not be able to take payments from customers until it's completed.</strong>
                                                <div class="agile-detail clearfix">
                                                    <a class="pull-right btn btn-primary" target="_blank" href="<%= user_omniauth_authorize_path(:stripe_connect) %>">Setup Account</a>
                                                    <br/><span class="showtooltip" data-toggle="tooltip" data-placement="top" title="Merchant accounts allows you to accept payments online. This requires a paid subscription."><i class="fa fa-question-circle"></i> What is this?</span>
                                                </div>
                                            </li>
                                        <% else %>
                                            <li id="task2" class="success-element">
                                                <h3>Merchant Account Complete</h3>
                                                Your Stripe Merchant Account has been successfully configured.
                                                <div class="agile-detail clearfix">
                                                    <a class="pull-right btn btn-white" href="https://dashboard.stripe.com/">Edit Account</a>
                                                    <br/><span class="showtooltip" data-toggle="tooltip" data-placement="top" title="Merchant accounts allows you to accept payments online. This requires a paid subscription."><i class="fa fa-question-circle"></i> What is this?</span>
                                                </div>
                                            </li>
                                        <% end %>
                                    </div>
                                <% end %>                           
                                
                                <div>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Update</strong></button>
                                </div>
                            <% end %>
                        </div>
                        <div class="col-sm-6">
                            <h4>Subscription Details</h4>
                            <% if @profile.plans.id > 1 && !@card.nil? %>
                                <p>You are currently subscribed to the <strong><%= @profile.plans.namespace %></strong> plan. You are paying for this subscription using the following card details:</p>
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="payment-card">
                                            <i class="fa fa-cc-<%= @card.brand.downcase %> payment-icon-big"></i>
                                            <h2>
                                                **** **** **** <%= @card["last4"] %>
                                            </h2>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <small>
                                                        <strong>Expiry date:</strong> <%= @card["exp_month"] %>/<%= @card["exp_year"] %>
                                                    </small>
                                                </div>
                                                <div class="col-sm-6 text-right">
                                                    <small>
                                                        <strong>Name:</strong> <%= @card["name"] %>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 pull-right">
                                        <a data-toggle="modal" data-target="#newcardmodal" class="btn btn-danger">Remove Card</a>
                                    </div>  
                                </div>
                            <% else %>
                                <p>You are currently subscribed to the <strong>Free</strong> plan. Good news if you you have no monthly fees to pay. Bad news is that you're not getting the full Pro Finder Golf experience. Don't worry though, you can upgrade your account at any time.</p>
                            <% end %>
                            <hr/>
                            <h4>Upgrade Your Account</h4>
                            <p>Want access to more features? Upgrade your account today!</p>
                            <p class="text-center">
                                <a href="<%= users_upgrade_path %>"><i class="fa fa-sign-in big-icon"></i></a><br/>
                                <%= link_to "Upgrade my Account", users_upgrade_path %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="newcardmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form id="update_card_form" novalidate="novalidate" accept-charset="UTF-8">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">New Card</h4><hr/>
                    <p>To continue your subscription to Pro Finder Golf, please provide us with a new debit or credit card. Your subscription will continue as normal and we will remove your old card from our records.</p>
                </div>
                <div class="modal-body">
                    <div id="loadingImg" class="loading hide">
                       <div class="progress">
                          <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                          </div>
                        </div>
                    </div>
                    <div class="row center-block text-center">
                        <div id="card">
                            <div class="row">
                                <div class="card-wrapper"></div>
                            </div><br/>
                            <div class="block-center">
                                <div class="middle-me">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label>Card Number</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="num" name="number" placeholder="Valid Card Number" required="" />
                                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-7 col-md-7">
                                            <div class="form-group">
                                                <label>Expriation Date</label>
                                                <input type="text" class="form-control"  id="expiry" name="expiry" placeholder="MM / YY"  required="" />
                                            </div>
                                        </div>
                                        <div class="col-xs-5 col-md-5 pull-right">
                                            <div class="form-group">
                                                <label>CVC</label>
                                                <input type="text" class="form-control" id="cvc" name="cvc" placeholder="CVC"  required="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label>Name On Card</label>
                                                <input type="text" class="form-control" required="" id="name" name="name" placeholder="NAME AND SURNAME"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  

                <div class="modal-footer">
                    <button type="cancel" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="submit" data-id="<%= @profile.id %>" id="postStatus" class="btn btn-primary ladda-button" data-style="expand-right"><span class="ladda-label">Save changes</span></button>
                </div>
            </form>
        </div>
    </div>
</div>

<%= javascript_include_tag "https://js.stripe.com/v2/" %>

<%= javascript_tag "Stripe.setPublishableKey('#{Rails.configuration.stripe[:publishable_key]}');" %>

<% content_for :javascript do %>

  <script type="text/javascript">

      $(document).ready(function(){
       
        <% if !params[:tour].blank? %>
            theTour();
        <% end %>

        var userid = <%= @profile.id %> <% if defined?(@stripe_id) %>, stripe_id = '<%= @stripe_id %>' <% end %>

      });
  </script>

<% end %>

