<%= form_for search_path, :html => {:id => 'searchForm'}, method: :get do |f| %>
	<input type="hidden" id="perpage" name="perpage" value="20" />
	<div class="row">
    	<div class="col-lg-6 sperator">
			<div class="input-group">
        		<%= text_field_tag :q, params[:q], class: "form-control input-lg typeahead", placeholder: "Where are you looking for?" %>
        	</div>
    	</div>
    	<div class="col-lg-6 sperator">
			<div class="input-group">
        		<%= text_field_tag :location, params[:location], id: "location-field", class: "form-control input-lg", placeholder: "Where do you want to find it?" %>
        	</div>
        	<img src="<%= asset_path('google.png') %>" class="google-img" />
    	</div>
    	<% unless @suggestions.blank? %>
			<div class="col-lg-12 didyoumean">
				<p class="text-danger">Did you mean: <strong><a href="/search?q=<%= @suggestions %>"><%= @suggestions %></a></strong></p>
			</div>
		<% end %>
    </div>

    <div class="row">
		<div class="col-lg-2">
			<h3>Show</h3>
		</div>
		<div class="col-lg-10 type-filter">
	    	<div class="col-lg-4">
				<div class="input-group">
	        		<label class="facets gray-bg" for="all">
	        			<div>
	        				<input type="radio" name="type" value="all" <%= 'checked="checked"' if @params[:type] == "all" %> />
	        			</div>
	        			<div>
	        				<span class="fa fa-globe"></span>Everything
	        			</div>
	        		</label>
	        	</div>
	    	</div>
	    	<div class="col-lg-4">
				<div class="input-group">
	        		<label class="facets gray-bg" for="pros">
	        			<div>
	        				<input type="radio" name="type" value="pros" <%= 'checked="checked"' if @params[:type] == "pros" %> />
	        			</div>
	        			<div>
	        				<span class="fa fa-users"></span>Golf Pros
	        			</div>
	        		</label>
	        	</div>
	    	</div>
	    	<div class="col-lg-4">
				<div class="input-group">
	        		<label class="facets gray-bg" for="prods">
	        			<div>
	        				<input type="radio" name="type" value="prods" <%= 'checked="checked"' if @params[:type] == "prods" %> />
	        			</div>
	        			<div>
	        				<span class="fa fa-shopping-cart"></span>Products
	        			</div>
	        		</label>
	        	</div>
	    	</div>
    	</div>
    </div>

    <div class="row">
    	<div class="col-lg-2">
			<h3>Distance</h3>
		</div>
		<div class="col-lg-10">
			<div class="input-group">
				<input type="text" name="distance" id="ionrange_1" value="" data-from="<%= params['distance'] ? params['distance'] : '20' %>" />
			</div>
		</div>
    </div>

    <div class="collapse-group">
    	<% unless @aggKeys.blank? %>
    		<div class="collapse">
				<% @aggKeys.each do |key| %>
					<% if @aggs[key]['buckets'][0] %>					
					    <div class="row">
							<div class="col-lg-2">
								<h3><%=  key != 'brandname'? key.humanize : 'Manufacturers' %></h3>
							</div>
							<div class="col-lg-10">
								<% @aggs[key]['buckets'].each do |bucket| %>
									<div class="col-lg-4">
										<div class="input-group">
						            		<% checked = false %>
						              		<label for="<%= key %>[]" class="facets">
						              			<% @params[key].to_a.each do |parm| %>
								                  <% checked = true if parm == bucket['key'] %>
								                <% end %>
								                <span>
						              				<input type="checkbox" name="<%= key %>[]" value="<%= bucket['key'] %>" <%= 'checked="checked"' if checked  %> />
						                		</span>
						                		<span><%= bucket['key'] %></span>
						              		</label>
						              	</div>
						            </div>
					          	<% end %>
							</div>	
						</div>
					<% end %>
				<% end %>
				<div class="row no-border filter-buttons">
					<div class="ctas col-lg-6 pull-right">
						<a class="btn btn-md btn-danger" id="filter-cancel"><i class="fa fa-minus"></i> Close Filters</a>
						<button type="submit" class="btn btn-md btn-primary pull-right ladda-button" data-style="slide-up" id="filter-apply"><i class="fa fa-plus"></i> Search with Filters</button>
					</div>
				</div>
			</div>
			<!--<div class="pull-right col-sm-4 filter">
				<select class="select2dropdown" id="sortby" name="sort">
					<option></option>
					<option value="rel">Best Match</option>
					<option class="loc" disabled="" value="nearest">Closest</option>
					<option class="loc" disabled="" value="furthest">Furthest</option>
					<option value="price-asc">Price - Lowest</option>
					<option value="price-desc">Price - Highest</option>
				</select>
			</div>-->
      		<a class="btn btn-success btn-md options main-btn" href="#"><i class="fa fa-cog"></i> More Options</a>
      		<button class="btn btn-primary btn-md ladda-button pull-right main-btn" data-style="expand-right" id="search" type="submit"><span class="ladda-label"><i class="fa fa-search"></i> Search</span></button>
      	<% end %>
    </div>
<% end %>