<% if @results.count > 0 %>

  <div class="numbers">
    <div class="clearfix">
      <div class="col-sm-5 left">
        <h3>Showing <%= @params[:page].to_i * 20 %> - <%= (@params[:page].to_i + 1) * 20 %> of <%= @results.total_count %> results</h3>
      </div>
      <div class="col-sm-4 pull-right">
        <select class="filter" id="filter" name="page">
          <option selected="selected" value="20">20 <small>results per page</small></option>
          <option value="50">50 <small>results per page</small></option>
          <option value="75">75 <small>results per page</small></option>
          <option value="100">100 <snmall>results per page</snmall></option>
        </select>
      </div>
    </div>
    <hr/>
  </div>



  <% @results.with_details.each do |ad, details| puts ad.inspect %>
      <div class="col-lg-6 result-spacing">
        <div class="item">
          <% if defined?(ad.adtitle) %> 
            <% featured = nil
             if ad.addons != nil %>
              <% ad.addons.each do |addon| %>
                <% if addon.featured 
                    featured = true
                    end %>
                <% if addon.flashsale %><div class="corner-ribbon top-left shadow">Flash Sale</div><% end %>
              <% end %>
            <% end %>
            <%= link_to controller: "classifieds", action: "show", id: ad.id do %>
              <figure class="col-lg-12 center-block">
                <%= image_tag ad.images.theimage if !ad.images.nil? %>
              </figure>
              <div class="info">
                <h3 class="truncate"><%= ad.adtitle %></h3>
                <% if featured %><div class="col-xs-12 text-center"><span class="label gold">Featured</span></div><% end %>
                <% latLon = "#{ad.user.profile.latitude}, #{ad.user.profile.longitude}" %>
                <h4 class="">Sold by: <%= ad.user.profile.name %></h4>
                <h5 class="truncate"><%= Geocoder.search(latLon).first.city if !Geocoder.search(latLon).first.nil? %>, <%= Geocoder.search(latLon).first.sub_state if !Geocoder.search(latLon).first.nil? %></h5>
                <% if !featured %><span>&nbsp;</span><% end %>
              </div>
            <% end %>
            <% 
              latLon = "#{ad.user.profile.latitude}, #{ad.user.profile.longitude}"
              @json[ad.id] = Hash.new
              @json[ad.id][:img] = !ad.images.theimage.blank? ? asset_url(ad.images.theimage) : asset_url("placeholder.png")
              @json[ad.id][:link] = "/classifieds/show/#{ad.id}"
              @json[ad.id][:lat] = ad.user.profile.latitude 
              @json[ad.id][:lon] = ad.user.profile.longitude
              @json[ad.id][:title] = ad.adtitle
              @json[ad.id][:sold] = ad.user.profile.name
              @json[ad.id][:loc] = "#{Geocoder.search(latLon).first.city if !Geocoder.search(latLon).first.nil?}, #{Geocoder.search(latLon).first.sub_state if !Geocoder.search(latLon).first.nil?}"
            %>
          <% else %>
            <%= link_to controller: "profiles", action: "show", id: ad.id do %>
              <figure class="col-lg-12 center-block">
                <%= image_tag ad.user.avatars.theimage if !ad.user.avatars.nil? %>
              </figure>
              <div class="info">
                <h3 class="truncate"><%= ad.name %></h3>
                <% if ad.featured %> <div class="col-xs-12 text-center"><span class="label gold">Certified</span></div><% end %>
                <h4 class=""><%= ad.golfclub %></h4>
                <% latLon = "#{ad.latitude}, #{ad.longitude}" %>
                <h5 class="truncate"><%= Geocoder.search(latLon).first.city if !Geocoder.search(latLon).first.nil? %>, <%= Geocoder.search(latLon).first.sub_state if !Geocoder.search(latLon).first.nil? %></h5>
                <% if !ad.featured %><span>&nbsp;</span><% end %>
              </div>
            <% end %>
            <% 
              latLon = "#{ad.latitude}, #{ad.longitude}"
              @json[ad.id] = Hash.new
              @json[ad.id][:img] = !ad.user.avatars.theimage.blank? ? asset_url(ad.user.avatars.theimage) : asset_url("placeholder.png")
              @json[ad.id][:link] = "/profiles/show/#{ad.id}"
              @json[ad.id][:lat] = ad.user.profile.latitude 
              @json[ad.id][:lon] = ad.user.profile.longitude
              @json[ad.id][:title] = ad.name
              @json[ad.id][:loc] = "#{Geocoder.search(latLon).first.city if !Geocoder.search(latLon).first.nil?}, #{Geocoder.search(latLon).first.sub_state if !Geocoder.search(latLon).first.nil?}"
            %>
          <% end %>
        </div>
      </div>
  <% end %>

  <% if !@json.nil? %>
    <script>
      var markers = <%= @json.to_json.html_safe %>
    </script>
  <% end %>

<% else %>

  <div class="numbers">
    <h3>Showing 0 results</h3>
    <hr/>
    <h3>Sorry, we could not find any results for your search!</h3>
  </div>


  <script>
    var markers = ''
  </script>

<% end %>