<div class="wrapper wrapper-content animated fadeInBottom container-fluid">
  
  <p id="notice"><%= notice %></p>

  <div class="row">
      <section class="columns col-md-6 col-xs-12 gutterless">
        <div class="ibox">
            <div class="ibox-content">
                <div class="search-form">
                    <%= render 'form' %>
                </div>
            </div>
            <div class="ibox-content gray-bg">
              <div class="search-results">
                  <div class="row">
                      <%= render 'results' %>
                  </div>
              </div>
              <div class="text-center">
                <%= paginate @results if !@results.nil? %>
              </div>
            </div>
        </div>
      </section>

      <section class="columns no-gutter hidden-xs col-md-6 pull-right gutterless">
          <div id='map-one' class='map'> </div>
      </section>
  </div>

</div>

<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
