** Thanks for your addon purchase!
------------------------------------------------------------
Hi <%= @profile.name %>, thanks for buying addons for your advert. You have helped ensure you advert gets maximum coverage on <%= @company_domain %>. A receipt of your purchase can be found below:
<%= @profile.name %>
<%= @profile.golfclub %>
<%= @address.first.city %>
<%= @address.first.sub_state %>
<%= Time.now.strftime('%d/%m/%Y') %>

---
<% price = 0 %>
<% @addons.each do |addon| %>
<% price += addon.price %>
  <%= addon.name %> | <%= number_to_currency(addon.price*@days, unit: "£", locale: :uk) %> (<%= number_to_currency(addon.price, unit: "£", locale: :uk) %> pr/day)
<% end %>
Total: <%= number_to_currency(price*@dayDist, unit: "£", locale: :uk) %>
---

We are always here to help. So if you have any queries about your purchase, feel free to drop us an email through our help desk. From the <%= @company %> website, head to Help / Submit Help Ticket and let us know what's on your mind.
Facebook (https://www.facebook.com/profindergolf) , Twitter (https://www.twitter.com/profindergolf) , Instagram (https://www.instagram.com/profindergolf) and Youtube (https://www.youtube.com/c/profindergolf)

© <%= Time.now.year %> <%= @company %>