** Thanks for your purchase!
------------------------------------------------------------
Hi <%= @params['source']['name'] %>, thanks so much for your purchase on <%= @company_domain %>. By buying an item from <%= @company %> you are ensuring that you receive the best items at a fair price. Please find a copy of your order below:
---
<%= @params['source']['name'] %>
<%= @params['source']['address_line1'] %><% if !@params['source']['address_line2'].blank? %>
<%= @params['source']['address_line2'] %><% end %>
<%= @params['source']['address_city'] %>
<%= Time.now.strftime('%d/%m/%Y') %>
---
<%= @product.adtitle %> Total <%= number_to_currency(@product.price, unit: "£", locale: :uk) %>

Your item is for collection only. This means you will need to collect your item from its seller's location. You can collect your item at the following address:

<%= @seller.name %>
<%= @seller.golfclub %>
<%= @address.html_safe %>
<%= @sellerEmail %>

--
Hey thanks for placing your order with me. My aim is to provide products that will help improve your game. If you have any questions about your item, please feel free to contact myself at: mailto:<%= @sellerEmail %>. If you'd like a refund on your purchase, please contact myself on the same email address. Thanks again and enjoy your purchase!
<%= @seller.name %>
--

We are always here to help. So if you have any queries about your purchase, feel free to drop us an email through our help desk. From the <%= @company %> website, head to Help / Submit Help Ticket and let us know what's on your mind.
Facebook (https://www.facebook.com/profindergolf) , Twitter (https://www.twitter.com/profindergolf) , Instagram (https://www.instagram.com/profindergolf) and Youtube (https://www.youtube.com/c/profindergolf)

To help us improve our systems, we would love it if you could complete a quick survey about your experience on Pro Finder Golf. You can view the survey here: 

https://insights.hotjar.com/s?siteId=174359&surveyId=9220 

We would really be grateful if you can take some time out to let us know your thoughts.

© <%= Time.now.year %> <%= @company %>