** Welcome to <%= @company %> - Your Account Information
------------------------------------------------------------

We are pleased to confirm that your FREE account on <%= @company %> has been successfully created. Now you are ready to log in and start customising your profile. So what are you waiting for? Click the button below to get started!

<%= @login %>

Your login details are:

Username: <%= @email %>

Password: <%= @password %>

You can change your password at any time by heading to "My Account / Edit Account". You can also change your contact and login email there. NOTE: to help protect your profile we suggest reading over the Google Guide "Creating a strong password" [https://support.google.com/accounts/answer/32040?hl=en] if you wish to change your password. The advice given in this guide will help protect your account from intruders.

We have attached a few guides to help get you started with promoting your services and selling your adverts. We are always here to help, so if you have any questions feel free to get in touch through our help desk. You create a ticket by going to "Help / Submit Help Ticket". We also have a list of Frequently Asked Questions (FAQs) that may have answers you are looking for. You can find these under "Help / FAQ" from our website.

Be sure to follow us on our social media channels to stay up to date and to get access to the latest and exclusive content: Facebook [https://www.facebook.com/profindergolf], Twitter [https://www.twitter.com/profindergolf], Instagram [https://www.instagram.com/profindergolf] and Youtube [https://www.youtube.com/c/profindergolf]. 

Thanks for choosing Pro Finder Golf.

- The Profinder.golf Team

© <%= Time.now.year %> <%= @company %>