** Pro Finder Golf - Vistor Contact Message
------------------------------------------------------------
Hi, <%= @proname %>, someone has sent a contact message to you. See below for all the details of this contact:
------------------------------------------------------------
Email: <%= @user %> 
Subject: <%= @subject %> 

Message:
<%= @themessage %>

---

You can reply to this enquirer by simply replying to this email or create a new email and send it to the email outlined above, whatever suits you.
We ask if you can be courteous and helpful at all times when interacting with the customer. Many <%= @company %> customers are new to golf so please bare this in mind when in conversation with the customer.

We are always here to help. So if you have any problems with the transaction or with the customer, feel free to drop us an email through our help desk. From the <%= @company %> website, head to Help / Submit Help Ticket and let us know how we can help you out.

Be sure to follow us on our social media channels to stay up to date and to get access to the latest and exclusive content: Facebook (https://www.facebook.com/profindergolf) , Twitter (https://www.twitter.com/profindergolf) , Instagram (https://www.instagram.com/profindergolf) and Youtube (https://www.youtube.com/c/profindergolf) .
Thanks for choosing Pro Finder Golf.
- The Profinder.golf Team

Facebook (https://www.facebook.com/profindergolf) , Twitter (https://www.twitter.com/profindergolf) , Instagram (https://www.instagram.com/profindergolf) and Youtube (https://www.youtube.com/c/profindergolf)

<%= Time.now.year %> <%= @company %>