** Account Plan Changed
------------------------------------------------------------

** We can confirm your account subscription plan has changed to <%= @planTitle %>.

Information about your new charges can be found below.

New Account Plan
<%= Time.now.strftime('%d%m%Y') %>
----
<%= @planTitle %> <%= number_to_currency(@price, unit: "£", locale: :uk) %>/mo
Total <%= number_to_currency(@price, unit: "£", locale: :uk) %>/mo
----

We are always here to help. So if you have any queries about your monthly subscription, feel free to drop us an email through our help desk. From the <%= @company %> website, head to "Help" / "Submit Help Ticket" and let us know what's on your mind.

Follow us on:
Facebook (https://www.facebook.com/profindergolf) 
Twitter (https://www.twitter.com/profindergolf)
Instagram (https://www.instagram.com/profindergolf) 
Youtube (https://www.youtube.com/c/profindergolf)

© <%= Time.now.year %> <%= @company %>