** Password Reset
------------------------------------------------------------
Hey <%= @email %>,

We received a password request for your account. If you are expecting an email about resetting your password, good news! You can click on the button below to change your password to a more memorable one right now:

Change My Password (<%= edit_password_url(@resource, reset_password_token: @token) %>)

Don't panic if you weren't expecting this email! Nothing has changed yet, so if someone is being naughty and trying to reset your password without your permission, just delete this email and carry on with your day as normal. No sweat.

Account security is very important to us here at <%= @company %> so if you have any worries about your account security or think something fishy is going on, feel free to drop us an email through our help desk. From the <%= @company %> website, head to "Help" / "Submit Help Ticket" and let us know what's making your feel uneasy.

Thanks again for choosing to work with Pro Finder Golf.
— The Profinder.golf Team

PSST! Are you following us on our social media channels? If you're not, you're missing out on some exclusive content! Check us out at: Facebook (https://www.facebook.com/profindergolf), Twitter (https://www.twitter.com/profindergolf) , Instagram (https://www.instagram.com/profindergolf) and Youtube (https://www.youtube.com/c/profindergolf) .

© <%= Time.now.year %> <%= @company %>