** Your Item Has Sold!
------------------------------------------------------------
Hi <%= @seller.name %>, your item "<%= @product.adtitle %>" has been sold, congratulations! Please find a copy of the order information below. Note: you can find a copy of this invoice from your <%= @company %> account under the "Sold Invoices" section.

---
<%= @params['source']['name'] %>
<%= @params['source']['address_line1'] %><% if !@params['source']['address_line2'].blank? %>
<%= @params['source']['address_line2'] %><% end %>
<%= @params['source']['address_city'] %>
<%= Time.now.strftime('%d/%m/%Y') %>
---

<%= @product.adtitle %> Total <%= number_to_currency(@product.price, unit: "£", locale: :uk) %>
This item is for collection only. This means the buyer need to collect your item from the location we have on our systems for you:

--
<%= @seller.name %>
<%= @seller.golfclub %>
<%= @address.html_safe %>
<%= @sellerEmail %>
--

We ask if you can be courteous and helpful at all times when interacting with the customer. Many <%= @company %> customers are new to golf so please bare this in mind when in conversation with the customer.
We are always here to help. So if you have any problems with the transaction or with the customer, feel free to drop us an email through our help desk. From the <%= @company %> website, head to Help / Submit Help Ticket and let us know how we can help you out.
Facebook (https://www.facebook.com/profindergolf) , Twitter (https://www.twitter.com/profindergolf) , Instagram (https://www.instagram.com/profindergolf) and Youtube (https://www.youtube.com/c/profindergolf)

© <%= Time.now.year %> <%= @company %>