 <div class="loginColumns animated fadeInDown">
      <div class="row">

          <div class="col-md-6 intro">
              <figure class="center-block col-xs-12">
                <%= image_tag "svgs/branding/logo.svg", width:"80%" %>
              </figure>
              <h2 class="font-bold">Password Reset</h2>

              <p>It happens to be the best of us; with so many accounts, we all forget a password or two at some point.</p>
              <p>Just use the form on this page to set a new password for yourself. Make sure it's secure and you can remember well. If you need help coming up with a secure password, <a href="https://lastpass.com/generatepassword.php" target="_blank">check out this random password generator</a>.</p>

          </div>
          <div class="col-md-6">
              <div class="ibox-content">
                  <h3>Change Password</h3>
                  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                      <%= devise_error_messages! %>
                      <%= f.hidden_field :reset_password_token %>
                      <div class="form-group">
                          <%= f.password_field :password, class: "form-control", required: "",  placeholder: "Enter new password...", autofocus: true, autocomplete: "off" %>
                          <% if @minimum_password_length %>
                            <em><small>(<%= @minimum_password_length %> characters minimum)</small></em><br />
                          <% end %>
                      </div>
                      <div class="form-group">
                          <%= f.password_field :password_confirmation,required: "",   class: "form-control", placeholder: "... and again to double check ...",  autocomplete: "off" %>
                      </div>

                      <button type="submit" class="btn btn-primary block full-width m-b ladda-button" data-style="expand-right"><span class="ladda-label">Change Password</span></button>

                      <a href="/signup" target="_blank"><small>Need an account?</small></a>
                  <% end %>
                  <p class="m-t">
                      <small><span class="glyphicon glyphicon-lock"></span> Keep your login details private for security </small>
                  </p>
              </div>
          </div>
      </div>
  </div>
