	<div class="passwordBox animated fadeInDown">
	    <div class="row">

	        <div class="col-md-12">
	            <div class="ibox-content">

	                <h2 class="font-bold">Forgot password</h2>

	                <p>
	                    Enter your email address and your password will be reset and emailed to you.
	                </p>

	                <div class="row">

	                    <div class="col-lg-12">
	                    	<%= form_for(resource, :html => {class: 'm-t', role: "form"}, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	                            <div class="form-group">
	                                <%= f.email_field :email, class: "form-control", placeholder: "Email Address", required: "", autofocus: true %>
	                            </div>
	                            <button type="submit" class="btn btn-primary block full-width ladda-button" data-style="expand-right">Reset Password</button>
	                        <% end %>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
