<div id="bgVideo">
	<div class="overlay"></div>
	<div class="theVids"
	  data-vide-bg="mp4:https://s3-eu-west-1.amazonaws.com/pro-finder-golf/assets/bg.mp4,webm:https://s3-eu-west-1.amazonaws.com/pro-finder-golf/assets/bg.webm,ogv:https://s3-eu-west-1.amazonaws.com/pro-finder-golf/assets/bg.ogv,poster:https://s3-eu-west-1.amazonaws.com/pro-finder-golf/assets/bg.jpg"
	  data-vide-options="posterType: jpg, loop: true, muted: false, position: 0% 0%, resize:true ">
	</div>
	<div class="container">
		<h1 class="text-center animated fadeInDown">Those in the Know, Go to Their Pro </h1>
		<h4 class="text-center animated fadeInDown">Find Your Local Golf Professional and Start Improving Your Game</h4>
		<div class="alpha-bg col-lg-10">
			<form action="/search" method="get" class="clearfix col-centered">
				<div class="form-group has-feedback">
				    <input type="text" class="form-control typeahead" id="test" data-provide="typeahead" name="q" placeholder="What are you searching for?"  />
				    <i class="glyphicon glyphicon-search form-control-feedback"></i>
				</div>
				<div class="form-group has-feedback">
				    <input type="text" class="form-control" id="location-field" name="location" placeholder="Where are you?"  />
				    <i class="glyphicon glyphicon-map-marker form-control-feedback"></i>
				</div>
				<button class="btn btn-primary ladda-button" type="submit" data-style="expand-up"><span class="ladda-label">Search</span></button>
			</form>
		</div>
	</div>
</div>

<div class="container">
	
	<section id="ad-highlight" class="col-lg-10 clearfix animated fadeInDown">
		<div class="clearfix">
            <h3 class="h-subheader col-lg-3">Highlighted Adverts</h3>
        </div>
		<ul class="homepage-listings-items clearfix">
			<% @highAds.each do |ad| %>
            <li class="homepage-listings-item col-lg-4 col-sm-4">
            	<div class="col-md-12">
	                <%= link_to controller: "classifieds", action: "show", id: ad.id, title: "#{ad.adtitle}" do %>
	                    <span class="homepage-listings-item-header">
	                        <h6>Highlight</h6>
	                        <% if !ad.classtypes.typename.nil? %><h5><%= ad.classtypes.typename %> for sale</h5><% end %>
	                    </span>
	                    <% if !ad.images.nil? %>
		                    <figure>
		                        <img alt="main product picture" class="img-responsive" src="<%= image_path(ad.images.theimage.url) %>">
		                    </figure>
	                    <% end %>
	                    <div class="content">
		                    <h3><%= number_to_currency(ad.price, unit: "£", locale: :uk) %></h3>
		                    <p class="title"><%= ad.adtitle %></p>
		                    <p class="seller">Sold by: <%= ad.user.profile.name %></p>
		                    <p class="list-date">Listed <%= time_ago_in_words(ad.updated_at) %> ago</p>
		                    <span class="btn btn-primary">view advert</span>
	                    </div>
	                <% end %>
                </div>
            </li>
            <% end %>
        </ul>
    </section>

</div>

<section class="pre-footer animated fadeInDown anystretch" data-stretch="<%= asset_url('fairway.jpg') %>">

	<div class="social-bar sign-up-bar">
		<div class="container centered">
			<div class="col-lg-9 middle">
				<p>Register your account today and get started with a FREE account!</p>
				<a href="/signup" class="btn btn-primary">Register Today</a>
			</div>
		</div>
	</div>

</section>

<div class="container">
	
	<section id="ad-highlight" class="col-lg-10 clearfix animated fadeInDown">
		<div class="clearfix">
            <h3 class="h-subheader col-lg-3">Latest Pros</h3>
        </div>
		<ul class="homepage-listings-items clearfix">
			<% @latestPros.each do |pro| %>
            <li class="homepage-listings-item col-lg-4 col-sm-4">
            	<div class="col-md-12">
	                <%= link_to controller: "profiles", action: "show", id: pro.id, title: "#{pro.name}" do %>
	                    <span class="homepage-listings-item-header">
	                        <h6>New Profile</h6>
	                        <h5><%= pro.golfclub %></h5>
	                    </span>
	                    <% if !pro.user.avatars.nil? %>
		                    <figure>
		                        <img alt="main product picture" class="img-responsive" src="<%= image_path(pro.user.avatars.theimage.url) %>">
		                    </figure>
	                    <% end %>
	                    <div class="content">
		                    <h3><%= pro.name %></h3>
		                    <% latLon = "#{pro.latitude}, #{pro.longitude}" %>
		                    <p class="title"><%= Geocoder.search(latLon).first.city if !Geocoder.search(latLon).first.nil? %>, <%= Geocoder.search(latLon).first.sub_state if !Geocoder.search(latLon).first.nil? %></p>
		                     <%= "<p class='list-date'>Joined #{time_ago_in_words(pro.created_at)} ago</p>".html_safe if !pro.created_at.nil? %> 
		                    <span class="btn btn-primary">view profile</span>
	                    </div>
	                <% end %>
                </div>
            </li>
            <% end %>
        </ul>
    </section>

</div>

<section class="pre-footer animated fadeInDown">

	<div class="social-bar">
		<div class="container centered">
			<div class="col-lg-10 middle">
				<p>Get exclusive content by following us on social media:</p>
				<ul>
					<li><a href="https://www.facebook.com/profindergolf" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
					<li><a href="https://www.twitter.com/profindergolf" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
					<li><a href="https://www.google.com/+ProfinderGolf" target="_blank"><i class="fa fa-google-plus-square"></i></a></li>
					<li><a href="https://www.youtube.com/c/profindergolf" target="_blank"><i class="fa fa-youtube-square"></i></a></li>
					<li><a href="https://www.instagram.com/profindergolf" target="_blank"><i class="fa fa-instagram-square"></i></a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="blogPosts">
		<div class="container">
			<div class="col-lg-10 card-box clearfix">
				<div id="thePosts" class="posts col-lg-8 col-sm-8 col-xs-12 clearfix">
					<div class="loading">
						<i class="fa fa-circle-o-notch fa-spin"></i>
					</div>
				</div>
				<div id="sponsor" class="col-lg-4 col-sm-4 col-xs-12 pull-right">
					<h3>Site Sponsor</h3>
					<div id="sponsor-slide">
						<div>
							<figure>
								 <%= image_tag "ggp.png" %>
							</figure>
							<p>Global Golf Post is the first designed-for-digital weekly golf news publication in the world. It is delivered overnight Sunday, 50 weeks per year, to a global audience of passionate golfers.</p>
							<a class="btn btn-primary" href="http://www.globalgolfpost.com" target="_blank">Visit Sponsor</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="tall-footer">
		<div class="container no-gutter">
			<div class="col-sm-10 no-gutter clearfix middle">
				<div class="col-xs-5 no-gutter">
					<%= image_tag "svgs/branding/logo.svg" %>
					<p>Pro Finder Golf is dedicated to providing registered golf professionals with the means and ways to interact with players. We help pros sell their stock, offer their services and promote their club and provide visitors to the site with highly intelligent search engine to help them find exactly what they are looking for.</p>
				</div>
				<div class="col-xs-6 pull-right">
					<h3>Mailing List</h3>
					<p>Get Exclusive content sent straight to your inbox:</p>
					<form>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Your Full Name..." />
						</div>
						<div class="form-group">
							<input type="email" class="form-control" placeholder="Your Email Address..." />
						</div>
						<div class="form-group">
							<textarea class="form-control">What's on your mind?</textarea>
						</div>
						<button class="btn btn-primary" type="submit">Contact Us</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>