<div class="postsData">
	<h3>Pro Finder Golf News</h3>
	<ul>
		<% @rss.each do |item| %>
			<li>
				<a class="clearfix no-gutter" href="<%= item["link"] %>" target="_blank">
					<div class="content col-lg-12">
						<p class="date"><%= time_ago_in_words(item["date_gmt"]) %> ago</p>
						<p><span><%= item["title"]["rendered"] %></span></p>
						<p><%= truncate(strip_tags(item["excerpt"]["rendered"]), :length => 80) %></p>
					</div>					
				</a>
			</li>
		<% end %>
	</ul>
	<a class="btn btn-primary col-lg-5" href="http://blog.profinder.golf" target="_blank">View All News</a>
</div>