<div class="row intro anystretch" data-stretch="<%= asset_url("signup.jpg") %>">
	
	<div class="row">
		<div class="text col-sm-11 center-block clearfix">
			<div class="col-sm-7">
				<h2>Aim for the green - Become a Pro today.</h2>
				<p>Register for Pro Finder Golf today and start promoting your services and advertising your items the smart way.</p>
				<a href="#" data-toggle="modal" data-target="#regModal" data-plan="free" class="sign-up-form btn btn-primary">Get Started</a>
			</div>
		</div>
	</div>

	<div class="gradient"></div>
</div>

<div class="feature row">
	<div class="col-sm-11 center-block clearfix">
		<div class="col-sm-8">
			<figure>
				<img src="<%= asset_url("feature1.png") %>" alt="Beautiful, Easy to Use Interfaces" title="Beautiful, Easy to Use Interfaces" />
			</figure>
		</div>
		<div class="col-sm-4 pull-right">
			<h3>Beautiful, Easy to Use Interfaces</h3>
			<p>Our system offers powerful features with simple and intuitive work flows. We keep things easy to use to allow you to concentrate on the important things, and less time frustrated with complex systems.</p>
			<p>The Pro Finder Golf system ensures your information is presented cleanly and professionally which helps promote your services and items to more potenial customers.</p>
		</div>
	</div>
</div>

<div class="feature-2 row">
	<div class="col-sm-11 center-block clearfix">
		<div class="col-sm-4">
			<h3>Powerful Search Engine</h3>
			<p>The Pro Finder Golf search engine uses the latest web technology to provide ultra fast, smart and relevant results for any search queries. That allows customers to find your profile and your adverts using natural search terms, just like the major search engines.</p>
			<p>With intelligent map integration, customers can find their local Golf Professional and find the exact items they are looking for in their area. Smarter search, better service.</p>
		</div>
		<div class="col-sm-8 pull-right">
			<figure>
				<img src="<%= asset_url("feature2.png") %>" alt="Powerful Search Engine" title="Powerful Search Engine" />
			</figure>
		</div>
	</div>
</div>

<div class="feature-3 row">
	<div class="col-sm-11 center-block clearfix">
		<div class="col-sm-8">
			<figure>
				<img src="<%= asset_url("feature3.png") %>" alt="Easy Merchant Management" title="Easy Merchant Management" />
			</figure>
		</div>
		<div class="col-sm-4 pull-right">
			<h3>Easy Merchant Management</h3>
			<p>Accepting payments online through our system is easy. Getting setup only take a matter of minutes and our online payment gateway takes care of customer's payment experience.</p>
			<p>You can view invoices of sold items, accept payments from all major credit cards and process refunds with 1-click.</p>
		</div>
	</div>
</div>

<div class="row pricing">
	<div class="col-sm-11 center-block card clearfix">
		<ul class="clearfix">
			<li class="col-sm-4 red">
				<a href="#" data-toggle="modal" class="sign-up-form clearfix" data-target="#regModal" data-plan="red">
					<h4>Red Tee</h4>
					<p><strong>&pound;11.99</strong><span>/ per month</span></p>
					<ul class="col-sm-8 features">
						<li><span class="fa fa-check"></span> Online Payments</li>
						<li><span class="fa fa-check"></span> 5 Active Adverts</li>
						<li><span class="fa fa-check"></span> 5 Images per Advert</li>
						<li><span class="fa fa-check"></span> Unlimited Listed Services</li>
						<li><span class="fa fa-check"></span> 1 Advert Addon Credits</li>
						<li><span class="fa fa-check"></span> 14 days Advert Length</li>
					</ul>
					<span class="btn btn-primary">Sign-up Now</span>
				</a>
			</li>
			<li class="col-sm-4 yellow">
				<a href="#" data-toggle="modal" class="sign-up-form clearfix" data-target="#regModal" data-plan="yellow">
					<h4>Yellow Tee</h4>
					<p><strong>&pound;19.99</strong><span>/ per month</span></p>
					<ul class="col-sm-8 features">
						<li><span class="fa fa-check"></span> Online Payments</li>
						<li><span class="fa fa-check"></span> 15 Active Adverts</li>
						<li><span class="fa fa-check"></span> 10 Images per Advert</li>
						<li><span class="fa fa-check"></span> Unlimited Listed Services</li>
						<li><span class="fa fa-check"></span> 5 Advert Addon Credits</li>
						<li><span class="fa fa-check"></span> 30 days Advert Length</li>
					</ul>
					<span class="btn btn-primary">Sign-up Now</span>
				</a>
			</li>
			<li class="col-sm-4 white">
				<a href="#" data-toggle="modal" class="sign-up-form clearfix" data-target="#regModal" data-plan="white">
					<h4>White Tee</h4>
					<p><strong>&pound;29.99</strong><span>/ per month</span></p>
					<ul class="col-sm-8 features">
						<li><span class="fa fa-check"></span> Online Payments</li>
						<li><span class="fa fa-check"></span> 30 Active Adverts</li>
						<li><span class="fa fa-check"></span> 20 Images per Advert</li>
						<li><span class="fa fa-check"></span> Unlimited Listed Services</li>
						<li><span class="fa fa-check"></span> 10 Advert Addon Credits</li>
						<li><span class="fa fa-check"></span> 60 days Advert Length</li>
					</ul>
					<span class="btn btn-primary">Sign-up Now</span>
				</a>
			</li>
		</ul>
		<div class="clearfix free">
			<a href="#" data-toggle="modal" class="sign-up-form" data-target="#regModal" data-plan="free">
				<h4>Pratice Range (Free Plan)</h4>
				<p>Our practice range package allows you to have a taster of all our services. You can get started using this package and when you're ready, upgrade to our paid packages to unlock more benefits from your subscription.</p>
				<span class="btn btn-primary">Sign-up Now</span>
			</a>
		</div>
	</div>	
</div>

<div class="modal inmodal fade" id="regModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="usersubmit_form" novalidate="novalidate" accept-charset="UTF-8">
            	<input type="hidden" id="plan" name="plan" value="" />
            	<input type="hidden" name="created" value="no" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Sign Up Request</h4>
                    <small class="font-bold">We really appreciate taht you want to register on Pro Finder Golf. To get your account created, please fill out the form below. We will verify your details and send your account login within 48 hours.</small>
                </div>
                <div class="modal-body">
                    <div class="loading hide">
                        <!-- By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL -->
                        <svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a">
                                    <stop stop-color="#228844" stop-opacity="0" offset="0%"/>
                                    <stop stop-color="#228844" stop-opacity=".631" offset="63.146%"/>
                                    <stop stop-color="#228844" offset="100%"/>
                                </linearGradient>
                            </defs>
                            <g fill="none" fill-rule="evenodd">
                                <g transform="translate(1 1)">
                                    <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2">
                                        <animateTransform
                                            attributeName="transform"
                                            type="rotate"
                                            from="0 18 18"
                                            to="360 18 18"
                                            dur="0.9s"
                                            repeatCount="indefinite" />
                                    </path>
                                    <circle fill="#228844" cx="36" cy="18" r="1">
                                        <animateTransform
                                            attributeName="transform"
                                            type="rotate"
                                            from="0 18 18"
                                            to="360 18 18"
                                            dur="0.9s"
                                            repeatCount="indefinite" />
                                    </circle>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="name" placeholder="Your Full Name..." required="" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="email" type="email" name="email" placeholder="Your Email Address..."  required="" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="golfclub" placeholder="The Golf Club are a pro at..." required="" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" type"text" name="proid" placeholder="Your pro id number..." required="" ></textarea>
                    </div>
                </div>  

                <div class="modal-footer">
                    <button type="cancel" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="submit" id="helpSubmit" class="btn btn-primary ladda-button" data-style="slide-up"><span class="ladda-label">Submit Request</span></button>
                </div>
            </form>
        </div>
    </div>
</div>