  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>
  
<img src="https://mjanja.ch/wordpress/wp-content/uploads/2013/09/borat_great_success.jpg" />