<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Account Upgrade</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content spacing-less animated fadeInRight">
    <div class="row">
        <div class="ibox">
            <div class="ibox-content">
                <p><strong>Thinking about upgrading your account?</strong> We're really excited that you thinking about upgrading your account. We have a wie range of package options that offer different limit ranges to suit demands. <strong>Note:</strong> If you wish to recieve payments online, you must upgrade your account to a paid package which enables the "Direct Payment" feature and the "Local Collection" feature.</p>
                <p>If you have any questions about our subscription packages, please get in touch through our <strong>Help</strong> section.</p>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <% @upgradePlans.each_with_index do |plan, index| %>
            <%= form_tag users_subscribe_path do %>
                <input type="hidden" name="planName" value="<%= plan.namespace.gsub(/\s*(\S)\S*/, '\1').downcase %>" />
                <input type="hidden" name="planId" value="<%= plan.id %>" />
                <div class="col-lg-2 plan <%= 'featured' if index == 3 %>">
                    <div class="ibox">
                        <div class="ibox-title">
                            <% if index == 3 %><span class="label label-primary pull-right">Most Popular</span><% end %>
                            <h5><%= plan.namespace %></h5>
                        </div>
                        <div class="ibox-content text-center">
                            <div class="team-members">
                                <%= image_tag "svgs/plans/#{plan.namespace.gsub(/\s*(\S)\S*/, '\1').downcase}.svg" %>
                            </div>
                            <div class="row price">
                                <h5 class="col-lg-12"><%= ( plan.price  > 0 ? "#{number_to_currency(plan.price, unit: '£', locale: :uk)} <small> / per month</small>".html_safe  : 'FREE' ) %></h5>
                            </div>
                            <ul class="text-left">
                                <li><span class="fa fa-check"></span><%= plan.ads %> Active Adverts</dt>
                                <li><span class="<%= (index  > 1  ? 'fa fa-check' : 'fa fa-times') %>"></span>Unlimited Services</li>
                                <li><span class="fa fa-check"></span><%= plan.photos %> Images per Advert</li>
                                <li><span class="<%= (plan.local_items ? 'fa fa-check' : 'fa fa-times') %>"></span>Online Payment <span class="showtooltip" data-toggle="tooltip" data-placement="top" title="Accept payments to your online merchant account which can be deposited into your bank account"><i class="fa fa-question-circle"></i></span></li>
                                <li><span class="<%= (plan.local_items ? 'fa fa-check' : 'fa fa-times') %>"></span>Local Collection <span class="showtooltip" data-toggle="tooltip" data-placement="top" title="Allow customers to collect purchased items from your club's Pro Shop"><i class="fa fa-question-circle"></i></span></li>
                                <li><span class="<%= (plan.gold ? 'fa fa-check' : 'fa fa-times') %>"></span>Gold Certified <span class="showtooltip" data-toggle="tooltip" data-placement="top" title="Power up your listing and profiles by appearing higher in search results with a Gold Certification."><i class="fa fa-question-circle"></i></span></li>
                                <li><span class="<%= (index  > 1  ? 'fa fa-check' : 'fa fa-times') %>"></span>Free Advert Addons per Month</li>
                                <li><span class="fa fa-check"></span><%= plan.maxrange %> Days Advert Length</li>
                            </ul>
                            <div class="row  m-t-sm">
                                <% if !@profile.stripe_id? %>
                                    <% if @profile.level != plan.id %>
                                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button btn-lg"
                                          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                          data-description="<%= plan.namespace %>"
                                          data-amount="<%= plan.price*100 %>"
                                          data-currency="gbp"
                                          data-email="<%= @user.email %>"
                                          data-panel-label="Upgrade Now"
                                          data-label="Upgrade Account"
                                          data-locale="auto"></script>
                                    <% else %>
                                        <a class="btn btn-lg disabled">Current Account</a>
                                    <% end %>
                                <% else %>
                                    <% if @profile.level < plan.id %>
                                        <button type="submit" onclick="return false;" class="change_account btn btn-lg btn-primary ladda-button" data-style="slide-down"><span class="ladda-label">Upgrade Account</span></button>
                                    <% elsif @profile.level > plan.id  %>
                                        <span class="showtooltip" data-toggle="tooltip" data-placement="bottom" title="Please make sure you aware of the change in limits before downgrading. Any data beyonf the new limits will be deleted."><button type="submit" onclick="return false;" class="change_account btn btn-lg btn-danger ladda-button" data-style="slide-down"><span class="ladda-label">Downgrade Account</span></button></span>                            
                                    <% else %>
                                        <span class="showtooltip" data-toggle="tooltip" data-placement="top" title="This is your current subscription level">
                                            <a class="btn btn-lg disabled">current account</a>
                                        </span>
                                    <% end %>
                                <% end %>
                            </div>

                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
