<div class="anystretch whole" data-stretch="<%= asset_url('404.jpg') %>">
	<div class="middle-box text-center animated fadeInDown">
        <h1>Cannot Load Page</h1>
        <h3 class="font-bold">Page Not Found</h3>

        <div class="error-desc">
            <p>Sorry, but we couldn't find page you are looking for. You might want to return to the previous page you were and try the page you wanted to load again. You could also use the button below to return to the website's homepage.</p>
            <a href="/" class="btn btn-primary ladda-button" data-turbolink=""><span class="ladda-label"><i class="fa fa-long-arrow-left"></i> Return to Homepage</span></a>
        </div>
    </div>
</div>