<div class="anystretch whole" data-stretch="<%= asset_url('404.jpg') %>">
	<div class="middle-box text-center animated fadeInDown">
        <h1>Cannot Load Page</h1>
        <h3 class="font-bold">Restricted Access</h3>

        <div class="error-desc">
            <p>Sorry, but you do not have the correct permissions to access the page you requested. Please return the page you were on before or use the button below to return to the homepage.</p>
            <a href="/" class="btn btn-primary ladda-button" data-turbolink=""><span class="ladda-label"><i class="fa fa-long-arrow-left"></i> Return to Homepage</span></a>
        </div>
    </div>
</div>