<div class="anystretch whole" data-stretch="<%= asset_url('404.jpg') %>">
	<div class="middle-box text-center animated fadeInDown">
        <h1>Cannot Load Page</h1>
        <h3 class="font-bold">System Busy</h3>

        <div class="error-desc">
            <p>Sorry, it looks like everyone has tried to tee off at the same time and our system has become overloaded. You may want to wait a little while and try loading the page again, or use the button below to return to the homepage.</p>
            <a href="/" class="btn btn-primary ladda-button" data-turbolink=""><span class="ladda-label"><i class="fa fa-long-arrow-left"></i> Return to Homepage</span></a>
        </div>
    </div>
</div>