<%= form_for(@classAd, url: @classformpath, :html => {:multipart => true, class: 'wizard-bg animated', id: 'ad-wizard'}) do |f| %>
    <h1>Setup</h1>
    <fieldset>
        <h2>Setup Advert:</h2>
        <div class="row">
            <div class="col-lg-8">
                <div class="form-group">
                    <label class="control-label">Select Advert Type:</label>
                    <select id="adselecttype" name="classifieds[vendor]" class="select2dropdown" require="true">
                      <option selected="selected"></option>
                      <option <%= 'selected="selected"' if @classAd.vendor==1 and @profile.plans.local_items? %> value="1" <%= 'disabled="disabled"' if !@profile.plans.local_items? %>>Collection Only</option>
                      <option <%= 'selected="selected"' if @classAd.vendor==2 %> value="2">eBay</option>
                      <option <%= 'selected="selected"' if @classAd.vendor==3 %> value="3">Other External</option>
                    </select>
                    <div class="hideMe hidden">
                      <input type="hidden" name="classifieds[external_id]" value="<%= @classAd.external_id if defined? @classAd.external_id %>" id="externalId" />
                      <label class="control-label">Product URL:</label>
                      <div class="input-group form-group changeInput">
                        <%= f.text_field :url, class: "form-control", :placeholder => "Enter URL here..." %>
                        <span class="input-group-btn">
                          <a class="btn btn-default ladda-button" data-style="expand-right" id="apiGo"><span class="ladda-label">Get Product Details</span></a>
                        </span>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class='control-label'>Product Category</label>
                    <select name="classifieds[adtype]" id="classifieds_adtype" class="select2dropdown" required>
                      <option></option>
                      <% @classTypes.each do |type| %>
                        <option value="<%= type.id %>" <%= 'selected="selected"' if @classAd.adtype == type.id %>><%= type.typename %></option>
                      <% end %>
                    </select>
                    <br/>

                    <label class='control-label'>Product Sub-Category</label>
                    <select required id="cat_select" class="select2dropdown" required name="classifieds[cat]" <%= 'disabled="disabled"' if @classCats.blank? %>>
                      <% if !@classCats.blank? %>
                        <% @classCats.each do |cat| %>
                          <option value=<%= cat.id %> <%= 'selected="selected"' if @classAd.cat == cat.id %>><%= cat.classname %></option>
                        <% end %>
                      <% end %>
                    </select>
                </div>
                <div class="form-group <%= @classAd.created_at != nil ? "hide" : "" %>">
                    <label class='control-label'>Advert Length <small>(Max No. Days: <%= @profile.plans.maxrange %>)</small></label>
                    <div id="reportrange" data-range="<%= @profile.plans.maxrange %>" class="<%= @classAd.created_at.nil? ? "allowRange" : "disabled" %> form-control">
                        <i class="fa fa-calendar"></i>
                        <span><%= "#{@classAd.created_at.strftime("%d/%m/%Y") if @classAd.created_at != nil}-#{@classAd.enddate.strftime("%d/%m/%Y") if @classAd.enddate != nil}" %> </span> <b class="caret"></b>
                    </div>
                    <input class="form-control" type="hidden" id="enddate" value="<%= @classAd.enddate.strftime("%d/%m/%Y") if @classAd.enddate != nil %>" name="classifieds[enddate]" required />
                </div>
            </div>
            <div class="col-lg-4">
                <div style="margin-top: 20px">
                    <h3>Advert Type</h3>
                    <p>Select wether your product is available to purchase from eBay, Gumtree or straight from Pro Finder Golf (requires subscription account to enable this).</p>
                    <h3>Product Category</h3>
                    <p>Select the category that correctly matches your item. Select a main category first, and then select the correct sub category. This helps visitors find your advert more precisely.</p>
                    <h3>Advert Length</h3>
                    <p>Select how long your advert will be live for. There are maximum limits that vary per subscription levels and a minimum advert length of 1 day, but your advert can be any length in between. Just select the dates in the two boxes that appear and press "Apply" to set the dates.</p>
                </div>
            </div>
        </div>
    </fieldset>
    <h1>Product Image</h1>
    <fieldset>
        <h2>Upload Image</h2>
        <div class="row">
            <div class="col-lg-8">
                <div class="form-group">
                  <div class="image-crop">
                    <div class="img-container">
                      <% if !@images.blank? and !@images.theimage.blank? %>
                        <%= image_tag @images.theimage.url, :id => 'image' if @images.theimage? %>
                      <% else %>
                        <%= image_tag "placeholder.png", :id => 'image' %>
                      <% end %>
                      <span class="showtooltip" data-toggle="tooltip" data-placement="top" title="Upload a image from your computer or device and edit it to match the size dimensions required by the application"><i class="fa fa-question-circle"></i></span>
                    </div>
                  </div> 
                </div>
            </div>
            <div class="col-lg-4">
                <div>
                  <h4>Preview image</h4>
                  <div class="docs-preview clearfix">
                    <div class="img-preview img-preview-avatar preview-lg"></div>
                  </div>
                  <br/>
                  <div class="btn-group">
                    <input type="text" name="classifieds[theimage]" class="hide" id="image-url" value=""/>
                    <label title="Upload image file" for="classifieds_theimage" class="btn btn-primary">
                        <input type="file" accept="image/*" name="cropimage" id="classifieds_theimage" class="hide">
                        Upload new image
                    </label>
                  </div>
                  <h4>Control Options</h4>
                  <div class="btn-group col-lg-12">
                      <button class="btn btn-white col-lg-6" id="zoomIn" type="button">Zoom In</button>
                      <button class="btn btn-white col-lg-6" id="zoomOut" type="button">Zoom Out</button>
                      <button class="btn btn-white col-lg-6" id="rotateLeft" type="button">Rotate Left</button>
                      <button class="btn btn-white col-lg-6" id="rotateRight" type="button">Rotate Right</button>
                  </div>
                </div>
            </div>
        </div>
    </fieldset>

    <h1>Extra Images</h1>
    <fieldset>
        <h2>Upload Extra Image</h2> <span class="showtooltip" data-toggle="tooltip" data-placement="top" title="Upload supporting images to make your advert more appealing to potential customers"><i class="fa fa-question-circle"></i></span>
        <div class="row">
            <div class="lightBoxGallery">
                <div class="wrapper wrapper-content">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <div class="file-manager">
                                        <% if !@limit %>
                                            <button class="btn btn-primary btn-block extraUpload" onclick="return false"  data-toggle="modal" data-target="#imageUpload">Upload Files</button>
                                        <% else %>
                                            <button class="btn btn-primary btn-block disabled ">Upload Files</button>
                                        <% end %>
                                        <div class="hr-line-dashed"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 animated fadeInRight">
                            <div class="row">
                                <div class="col-lg-12" id="theExtraImages">
                                    <% if !@extraImgs.nil? %>
                                        <% @extraImgs.each do |file| %>
                                            <div class="file-box col-lg-4">
                                                <div class="file">
                                                    <div class="actions"><a href="<%= file.images.theimage.url %>" class="btn btn-primary" data-gallery=""><i class="fa fa-eye"></i></a>&nbsp;<a href="javascript.void(0)" class="btn btn-primary extra-delete" data-adid="<%= @classAd.id%>" onclick="deleteImage(this)" data-imgid="<%= file.images.id %>"><i class="fa fa-trash"></i></a></div>
                                                    <span class="corner"></span>

                                                    <div class="icon">
                                                        <img alt="image" class="img-responsive" src="<%= file.images.theimage.url %>">
                                                    </div>
                                                    <div class="file-name">
                                                        <%= File.basename(file.images.theimage.path) %>
                                                        <br />
                                                        <small><% file.images.created_at %></small>
                                                    </div>
                                                </div>
                                            </div>
                                        <% end %>
                                    <% else %>
                                        <h3>No Images yet.</h3>
                                    <% end %>

                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <h1>Product Info</h1>
    <fieldset>
        <h2>Product Information</h2>
        <div class="row">
            <div class="col-lg-8">
                <div class="form-group">
                  <%= f.label :adtitle, class: 'control-label' %>
                  <%= f.text_field :adtitle, class: "form-control",:required => true %>
                </div>
                <div class="form-group">
                  <%= f.label :description, class: 'control-label' %>
                  <%= f.text_area :description, class: 'form-control summernote', style: 'width:100%' %>
                </div>
                <div class="form-group">
                  <%= f.label :price, class: 'control-label' %>
                  <div class="input-group">
                    <div class="input-group-addon">&pound;</div>
                    <%= f.text_field :price, class: "form-control", :required => true %>
                  </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div style="margin-top: 20px">                        
                    <h3>Advert Title</h3>
                    <p>Set the title of your advert. <strong>Tip:</strong> Make sure it is clear and easy for visitors to find when searching, keep it short and obvious.</p>
                    <h3>Description</h3>
                    <p>Add a description about your product for sale. Include important information about the item  potential buyers know what they are buying. <strong>Tip:</strong> Say the important things, keep the text looking clear, clean and to the point.</p>
                    <h3>Price</h3>
                    <p>Set a price for the product. <strong>Tip:</strong> Remember people want a bargain, so pick a price that you're happy with the item selling for and one you know is competitive.</p>
                </div>
            </div>
        </div>
    </fieldset>

    <h1>Meta Info</h1>
    <fieldset>
        <h2>Search Information</h2> <span class="showtooltip" data-toggle="tooltip" data-placement="top" title="This information will allow customers to use the advance search fields to find your item in a more specific search"><i class="fa fa-question-circle"></i></span>
        <div class="row">
            <div class="col-lg-8">
                <div class="form-group">
                    <%= f.label 'Tag', class: 'control-label' %>
                    <select multiple="" name="classifieds[tags][]" id="classTags" required="">
                      <% @tags.each do |tag| %>
                        <% selected = false %>
                        <% @classAd.tag.each do |ctag| %>
                          <% if ctag.id == tag.id then selected = true end %>
                        <% end %>
                        <option value="<%= tag.id %>" <%= 'selected="selected"' if selected %>><%= tag.tagname %></option>
                      <% end %>
                    </select>
                </div>
                <div class="form-group">
                    <%= f.label :brand, class: 'control-label' %>
                    <select id="classBrand" name="classifieds[brand]" class="select2dropdown" required="">
                      <option></option>
                      <% @brands.each do |brand| %>
                        <% selected = false %>
                        <% @classAd.brand.each do |cbrand| %>
                          <% if cbrand.id == brand.id then selected = true end %>
                        <% end %>
                        <option value="<%= brand.id %>" <%= 'selected="selected"' if selected %>><%= brand.brandname %></option>
                      <% end %>
                    </select>
                </div>
            </div>
            <div class="col-lg-4">
                <div style="margin-top: 20px">                        
                    <h3>Tags</h3>
                    <p>Tags allow visitors to find items based on specific attributes. Select tags that match the item you are selling.</p>
                    <h3>Vendor Brand</h3>
                    <p>Select the vendor of the item you are selling. This allows visitors to find your item when searching for a particular vendor brand.</p>
                </div>
            </div>
        </div>
    </fieldset>

    <% if !request.path_info.ends_with? "/edit" %>

      <h1>Add-ons</h1>
      <fieldset>
          <h2>Purchase Advert Add-ons</h2> <span class="showtooltip" data-toggle="tooltip" data-placement="top" title="You can select add-ons you want to purchase to power up your advert and get it seen by more customers"><i class="fa fa-question-circle"></i></span>
          <div class="row">
              <div class="col-lg-8 add-ons">
                <% @addons.each do |addon| %>
                <div class="form-group">
                  <div class="feature-check"><label><input type="checkbox" name="addon[<%= addon.name.downcase %>]" value="<%= number_to_currency(addon.price*100.ceil, unit: "", :precision => 0).remove(",") %>"> <i></i> <span class="label <%= "label-primary" if addon.featured? %> <%= "label-warning" if addon.flashsale? %> <%= "label-success" if addon.highlight? %>"><%= addon.name %></span> <%= addon.desc %> <span class="pull-right"><strong><%= number_to_currency(addon.price, unit: "£"); %><small>/day</small></strong></span></label></div>          
                </div>
                <% end %>
                <hr/>
                <div class="form-group clearfix">
                  <h4 class="col-lg-4">Total:</h4>
                  <p class="pull-right col-lg-4 text-right"><strong id="total">£0.00</strong></p>
                </div>
              </div>
              <div class="col-lg-4">
                  <div style="margin-top: 20px">                        
                      <h3>Flash Sale</h3>
                      <p>Purchase this addon to let potential buyers know that your item has a sale price and is available for a limited time only.</p>
                      <h3>Featured</h3>
                      <p>Your advert will  receive an added boost in search results ranking and can help push your advert to the top of the search result list, giving it more of a chance of being bought.</p>
                      <h3>Highlight</h3>
                      <p>Get your advert on the Pro Finder Golf homepage. The best way to give you product exposure to potential buyers.</p>
                  </div>
              </div>
          </div>
      </fieldset>

    <% end %>
<% end %>

<div class="modal inmodal fade" id="imageUpload" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
              <div class="modal-content">
                  <form id="feedback_form" novalidate="novalidate" accept-charset="UTF-8">
                      <div class="modal-header">
                          <button type="button" onclick="return false" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          <h4 class="modal-title">Image Upload</h4>
                          <small class="font-bold">Upload an Image from your computer</small>
                      </div>
                      <div class="modal-body">
                          <div id="loadingImg" class="loading hide">
                             <div class="progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-8">
                                  <div class="form-group">
                                    <div class="image-crop">
                                      <div class="img-container">
                                          <%= image_tag "placeholder.png", :id => 'extraimage'  %>
                                      </div>
                                    </div> 
                                  </div>
                              </div>
                              <div class="col-lg-4">
                                  <div>                  
                                    <div class="btn-group">
                                      <label title="Upload image file" for="gallery_upload_image" class="btn btn-primary">
                                          <input type="file" accept="image/*" name="cropimage" id="gallery_upload_image" class="hide">
                                          Upload new image
                                      </label>
                                    </div>
                                    <h4>Control Options</h4>
                                    <div class="btn-group col-lg-12">
                                        <button class="btn btn-white col-lg-6" id="exzoomIn" type="button">Zoom In</button>
                                        <button class="btn btn-white col-lg-6" id="exzoomOut" type="button">Zoom Out</button>
                                        <button class="btn btn-white col-lg-6" id="exrotateLeft" type="button">Rotate Left</button>
                                        <button class="btn btn-white col-lg-6" id="exrotateRight" type="button">Rotate Right</button>
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>  

                      <div class="modal-footer">
                          <button type="cancel" class="btn btn-white" data-dismiss="modal">Close</button>
                          <button type="submit" data-id="<%= @profile.id%>" id="extraUploadButton" class="btn btn-primary">Save changes</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>

     <div id="blueimp-gallery" class="blueimp-gallery">
          <div class="slides"></div>
          <h3 class="title"></h3>
          <a class="prev">‹</a>
          <a class="next">›</a>
          <a class="close">×</a>
          <a class="play-pause"></a>
          <ol class="indicator"></ol>
      </div>
<script>
  var placeholder = '<%= asset_path("placeholder.png") %>'; var limitNum = <%= @limitNum %>; var dateMaxDays = <%= @profile.plans.maxrange %>
</script>
