<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Confirm &amp; Pay for Advert Add-ons</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>My Adverts</a>
            </li>
            <li class="active">
                <strong>Purchase Add-ons</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">



    <div class="row">
        <div class="col-md-9">

            <div class="ibox">
                <div class="ibox-title">
                    <span class="pull-right"><strong><%= @addons.size %></strong> items</span>
                    <h5>Add-ons Selected</h5>
                </div>
                <% 
                    price = 0 
                    id = []
                %>
                <% @addons.each do |addon| id.push(addon.id) %>

                    <div class="ibox-content" id="addon-<%= addon.id %>">
                        <div class="table-responsive">
                            <table class="table shoping-cart-table">

                                <tbody>
                                <tr>
                                    <td width="90">
                                        <div class="cart-product-imitation">
                                            <span class="label <%= "label-primary" if addon.featured? %> <%= "label-warning" if addon.flashsale? %> <%= "label-success" if addon.highlight? %>"><%= addon.name %></span>
                                        </div>
                                    </td>
                                    <td class="desc">
                                        <h3>
                                            <%= addon.name %>
                                        </h3>
                                        <p class="small">
                                            <%= addon.desc %>
                                        </p>

                                        <div class="m-t-sm">
                                            <a onclick="removeAddon(<%= addon.id %>)" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
                                        </div>
                                    </td>
                                    <td>
                                        <h4>
                                            <% price += addon.price %>
                                            <%= number_to_currency(addon.price*@dayDist, unit: "£"); %>
                                        </h4>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                <% end %>
                
                <div class="ibox-content">
                    <form class="buyForm" method="get" action="/classifieds/<%= params[:id] %>/addons">
                        <input type="hidden" id="addonids1" value="<%= id %>" name="aid" />
                        <script src="https://checkout.stripe.com/checkout.js"></script>
                        <button data-style="slide-up" type="submit" class="ladda-button stripeButton btn btn-primary pull-right" onclick="stripePay({amount:<%= price*@dayDist*100 %>, description:'Advert Addons: <%= number_to_currency(price*@dayDist, unit: "£") %>',email: '<%= @profile.user.email %>'});     return false;    return false;return false;"><span class="ladda-label"><i class="fa fa-shopping-cart"></i> Buy Now</span></button>
                    </form>
                    <button class="ladda-button stripeButton btn btn-primary pull-right"  data-toggle="modal" data-target="#creditsModal"><i class="fa fa-ticket" data-style="slide-up"></i> Use Credits</button>
                    <button class="ladda-button btn btn-white" data-style="slide-up"><span class="ladda-label"><i class="fa fa-arrow-left"></i> Continue shopping</span></button>
                </div>
            </div>

        </div>
        <div class="col-md-3">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Addon Summary</h5>
                </div>
                <div class="ibox-content">
                    <span>
                        Total
                    </span>
                    <h2 class="font-bold">
                         <%= number_to_currency(price*@dayDist, unit: "£"); %>
                    </h2>

                    <hr/>
                    <span class="text-muted small">
                    </span>
                    <div class="m-t-sm">
                        <div class="btn-group">
                            <form class="buyForm" method="get" action="/classifieds/<%= params[:id] %>/addons">
                                <input type="hidden" id="addonids2" value="<%= id %>" name="aid" />
                                <script src="https://checkout.stripe.com/checkout.js"></script>
                                <button type="submit" class="stripeButton btn btn-primary pull-right ladda-button" onclick="stripePay({amount:<%= price*@dayDist*100 %>, description:'Advert Addons: <%= number_to_currency(price*@dayDist, unit: "£") %>',email: '<%= @profile.user.email %>', form: this}); return false;" data-style="slide-up"><span class="ladda-label"><i class="fa fa-shopping-cart"></i> Buy Now</span></button>

                                <%= javascript_tag do %>
                                  var handler = StripeCheckout.configure({
                                    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
                                    image: 'https://s3.amazonaws.com/stripe-uploads/acct_17PG7GAwG6ryJF3Pmerchant-icon-1453653084817-acct_17PG7GAwG6ryJF3Papplication-icon-logo-01.png',
                                    locale: 'auto',
                                    token: function(token) {
                                        authStripeToken(token, <%= params[:id] %>, <%= id %>);
                                    }
                                  });
                                <% end %>
                                <a href="#" class="btn btn-white ladda-button" data-style="slide-up"><span class="ladda-label">Cancel</span></a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Support</h5>
                </div>
                <div class="ibox-content text-center">
                    <h3><a href="javascript:void(0)" data-toggle="modal" class="btn btn-primary ladda-button" data-target="#myModal5"><i class="fa fa-envelope"></i> Need Help?</a></h3>
                    <span class="small">
                        Please contact with us if you have any questions. <strong>Note:</strong> help is only available via email.
                    </span>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="modal inmodal fade" id="creditsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="adcredit_form" novalidate="novalidate" accept-charset="UTF-8">
                <input type="hidden" name="adid" value="<%= params[:id] %>" />
                <input type="hidden" id="addoncids" value="<%= id %>" name="aid" />
                <input type="hidden" name="enddate" value="<%= params[:classifieds][:enddate] %>" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Use Account Credits</h4>
                    <small class="font-bold">Use your subscription credits to purchase advert addons. Select which addons you want to use your account credits on.</small>
                </div>
                <div class="modal-body">
                    <div id="loading" class="loading hide">
                        <!-- By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL -->
                        <svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a">
                                    <stop stop-color="#228844" stop-opacity="0" offset="0%"/>
                                    <stop stop-color="#228844" stop-opacity=".631" offset="63.146%"/>
                                    <stop stop-color="#228844" offset="100%"/>
                                </linearGradient>
                            </defs>
                            <g fill="none" fill-rule="evenodd">
                                <g transform="translate(1 1)">
                                    <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2">
                                        <animateTransform
                                            attributeName="transform"
                                            type="rotate"
                                            from="0 18 18"
                                            to="360 18 18"
                                            dur="0.9s"
                                            repeatCount="indefinite" />
                                    </path>
                                    <circle fill="#228844" cx="36" cy="18" r="1">
                                        <animateTransform
                                            attributeName="transform"
                                            type="rotate"
                                            from="0 18 18"
                                            to="360 18 18"
                                            dur="0.9s"
                                            repeatCount="indefinite" />
                                    </circle>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <% @addons.each do |addon| %>

                        <div class="ibox-content"  id="addonc-<%= addon.id %>">
                            <div class="table-responsive">
                                <table class="table shoping-cart-table">
                                    
                                    <tbody>
                                    <tr>
                                        <td width="90">
                                            <div class="cart-product-imitation">
                                                <span class="label <%= "label-primary" if addon.featured? %> <%= "label-warning" if addon.flashsale? %> <%= "label-success" if addon.highlight? %>"><%= addon.name %></span>
                                            </div>
                                        </td>
                                        <td class="desc">
                                            <h3>
                                                <%= addon.name %>
                                            </h3>
                                            <p class="small">
                                                <%= addon.desc %>
                                            </p>
                                        </td>
                                        <td>
                                            <h4>
                                                <%= @dayDist %> Credit(s)
                                            </h4>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    <% end %>
                </div>  

                <div class="modal-footer">
                    <button type="cancel" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="submit" id="helpSubmit" class="btn btn-primary">Purchase Addons</button>
                </div>
            </form>
        </div>
    </div>
</div>

<% content_for :javascript do %>
    
    <script>
    var dateEnd = '<%= params[:classifieds][:enddate] %>';
    </script>

<% end %>