<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Confirm &amp; Purchase</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Adverts</a>
            </li>
            <li class="active">
                <strong>Confirm Purchase</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">



    <div class="row">
        <div class="col-md-9">

            <div class="ibox">
                <div class="ibox-title">
                    <span class="pull-right"><strong>1</strong> items</span>
                    <h5>Products Selected</h5>
                </div>

                <div class="ibox-content" id="addon-<%= @product.id %>">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">
                            <tbody>
                            <tr>
                                <% if !@images.blank? %>
                                    <td width="130">                                   
                                        <div class="image-imitation">
                                            <img alt="main product picture" width="130" class="img-responsive" src="<%= image_path(@images.theimage) %>">
                                        </div>
                                    </td>
                                <% end %>
                                <td class="desc">
                                    <h3>
                                        <%= @product.adtitle %>
                                    </h3>
                                    <p class="small">
                                        <%= @product.description.html_safe %>
                                    </p>
                                </td>
                                <td>
                                    <h4>
                                        <%= number_to_currency(@product.price, unit: "£"); %>
                                    </h4>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                
                <div class="ibox-content">
                    <a href="javascript:history.back()" class="btn btn-white ladda-button" data-style="expand-right"><span class="ladda-label"><i class="fa fa-arrow-left"></i> Cancel Purchase</span></a>
                </div>
            </div>

        </div>
        <div class="col-md-3">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Addon Summary</h5>
                </div>
                <div class="ibox-content">
                    <span>
                        Total
                    </span>
                    <h2 class="font-bold">
                         <%= number_to_currency(@product.price, unit: "£"); %>
                    </h2>

                    <hr/>
                    <span class="text-muted small">
                    </span>
                    <div class="m-t-sm">
                        <div class="btn-group">
                            <% if @product.vendor.to_f == 2 %>
                                <button class="btn btn-primary pull-right ladda-button" href="http://local.prglf.co?ebayid=<%= @product.external_id if defined? @product.external_id %>" data-style="expand-right"><span class="ladda-label">Buy Now*</span></button>
                                <small class="text-muted">*purchase available on external site</small>
                            <% elsif @product.vendor.to_f > 2 %>
                                <button class="btn btn-primary pull-right ladda-button" href="<%= @product.url %>" data-style="expand-right"><span class="ladda-label">Buy Now*</span></button>
                                <small class="text-muted">*purchase available on external site</small>
                            <% else %>
                                <a href="javascript:history.back()" class="btn btn-white ladda-button" data-style="expand-right"><span class="ladda-label"> Cancel</span></a>
                                <a href="#" data-toggle="modal" class="btn btn-primary pull-right ladda-button" data-target="#detailsModal" data-style="expand-right"><span class="ladda-label">Buy Now</span></a>
                                <span class="note"><small><strong>Note:</strong> item available for collection only</small></span>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Support</h5>
                </div>
                <div class="ibox-content text-center">
                    <h3><a href="javascript:void(0)" data-toggle="modal" class="btn btn-primary ladda-button" data-target="#myModal5"  data-target="#detailsModal" data-style="expand-right"><span class="ladda-label"><i class="fa fa-envelope"></i> Need Help?</span></a></h3>
                    <span class="small">
                        Please contact with us if you have any questions. <strong>Note:</strong> help is only available via email.
                    </span>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="modal inmodal fade" id="detailsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="purchase_form" novalidate="novalidate" accept-charset="UTF-8" method="post" action="/classifieds/payment/confirmation/<%= @product.id %>">
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
                <input type="hidden" id="adid" name="adid" value="<%= @product.id %>" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Details and Payment</h4>
                    <small class="font-bold">Please fill in the fields below to complete the purchase.</small>
                </div>
                <div class="modal-body">
                    <div id="loading" class="loading hide">
                        <!-- By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL -->
                        <svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a">
                                    <stop stop-color="#228844" stop-opacity="0" offset="0%"/>
                                    <stop stop-color="#228844" stop-opacity=".631" offset="63.146%"/>
                                    <stop stop-color="#228844" offset="100%"/>
                                </linearGradient>
                            </defs>
                            <g fill="none" fill-rule="evenodd">
                                <g transform="translate(1 1)">
                                    <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2">
                                        <animateTransform
                                            attributeName="transform"
                                            type="rotate"
                                            from="0 18 18"
                                            to="360 18 18"
                                            dur="0.9s"
                                            repeatCount="indefinite" />
                                    </path>
                                    <circle fill="#228844" cx="36" cy="18" r="1">
                                        <animateTransform
                                            attributeName="transform"
                                            type="rotate"
                                            from="0 18 18"
                                            to="360 18 18"
                                            dur="0.9s"
                                            repeatCount="indefinite" />
                                    </circle>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1"> Your Details</a></li>
                                <li class=""><a data-toggle="tab" id="carddetails" href="#tab-2">Card Details</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="form-group"><label class="col-sm-2 control-label">Full Name</label>
                                            <div class="col-sm-10"><input type="text" id="name" name="name" placeholder="Jordan Woods" required="" class="form-control"></div>
                                        </div>
                                        <div class="hr-line-dashed"></div> 
                                        <div class="form-group"><label class="col-sm-2 control-label">Address Line 1</label>
                                            <div class="col-sm-10"><input type="text" id="street1" name="street1" required="" placeholder="1 Golf Club Lane" class="form-control"></div>
                                        </div>
                                        <div class="form-group"><label class="col-sm-2 control-label"></label>
                                            <div class="col-sm-10"><input type="text" id="street2" name="street2" class="form-control"></div>
                                        </div>
                                        <div class="hr-line-dashed"></div> 
                                        <div class="form-group"><label class="col-sm-2 control-label">City</label>
                                            <div class="col-sm-10"><input type="text" name="city" id="city" required="" placeholder="Aberdeen" class="form-control"></div>
                                        </div>
                                        <div class="hr-line-dashed"></div>  
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">County</label>
                                            <div class="col-sm-10">
                                                <div class="row">
                                                    <div class="col-md-5"><input type="text" name="county" id="county" placeholder="Aberdeenshire" required="" class="form-control"></div>
                                                    <label class="col-sm-2 control-label">Postcode</label>
                                                    <div class="col-md-5"><input type="text" required="" id="postcode" name="postcode" placeholder="AB12 3CD" class="form-control"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>  
                                        <div class="form-group"><label class="col-sm-2 control-label">Country</label>
                                            <div class="col-sm-10"><%= country_select("user", "country",{ priority_countries: ["GB"], selected: "GB"},{class: 'country-select2 form-control'}) %></div>
                                        </div>
                                        <div class="hr-line-dashed"></div>  
                                        <div class="form-group"><label class="col-sm-2 control-label">Email</label>
                                            <div class="col-sm-10"><input type="email" id="email" name="email" placeholder="me@myemailprovider.com" required="" class="form-control"></div>
                                        </div>
                                        <div class="hr-line-dashed"></div>  
                                        <div class="form-group"><label class="col-sm-2 control-label">Phone</label>
                                            <div class="col-sm-10"><input type="text" id="phone" name="phone" placeholder="+44 1234 567 891" required="" class="form-control"></div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                    </div>
                                </div>
                                <div id="tab-2" class="tab-pane">
                                    <div class="panel-body">
                                        <div id="card">
                                            <div class="row">
                                                <div class="card-wrapper"></div>
                                            </div>
                                            <div class="block-center">
                                                <div class="col-sm-10 middle-me">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label>Card Number</label>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" id="num" name="number" placeholder="Valid Card Number" required="" />
                                                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-7 col-md-7">
                                                            <div class="form-group">
                                                                <label>Expriation Date</label>
                                                                <input type="text" class="form-control"  id="expiry" name="expiry" placeholder="MM / YY"  required="" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-5 col-md-5 pull-right">
                                                            <div class="form-group">
                                                                <label>CVC</label>
                                                                <input type="text" class="form-control" id="cvc" name="cvc" placeholder="CVC"  required="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label>Name On Card</label>
                                                                <input type="text" class="form-control" required="" id="name" name="name" placeholder="NAME AND SURNAME"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <div class="form-group">
                                                    <p><small>By submitting this form, I accept the <a href="/policies/terms-of-service.pdf">Terms &amp; Conditions</a> for purchasing an item from a merchant on Pro Finder Golf</small></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  

                <div class="modal-footer">
                    <button type="cancel" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="submit" id="helpSubmit" class="btn btn-primary ladda-button" data-style="expand-right"><span class="ladda-label">Purchase Product</span></button>
                </div>
            </form>
        </div>
    </div>
</div>

<%= javascript_include_tag "https://js.stripe.com/v2/" %>

<%= javascript_tag "Stripe.setPublishableKey('#{Rails.configuration.stripe[:publishable_key]}');" %>