<div id="alert-append" class="wrapper wrapper-content container animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>
                        Edit Product Advert
                    </h2>
                    <p>
                        Use the fields below to edit your advert. <strong>NOTE:</strong> if you make any changes and save the advert's changes, they will be made live immediately.
                    </p>
					<%= render 'form' %>
				</div>
            </div>
        </div>

    </div>
</div>