
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="container">
        <h2>My Product Adverts</h2>
        <ol class="breadcrumb">
            <li>
                <% if user_signed_in? %><li><%= link_to "Dashboard", dashboard_path %></li><% end %> 
            </li>
            <li class="active">
                <strong>My Product Adverts</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content container animated fadeInRight">
    
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox" ID="tour-class">
                <div class="ibox-title">
                    <h5>My Pro Adverts</h5>
                    <div class="ibox-tools">
                        <% if !@limit %>
                          <a href="<%= new_classified_path %>" class="btn btn-primary btn-md ladda-button" data-style="expand-right"><span class="ladda-label">Create New Advert</span></a>
                        <% else %>
                          <span class="showtooltip" data-toggle="tooltip" data-placement="top" title="You have reached your advert limit. Please upgrade your account to make more.">
                            <%= link_to "Create new Advert", new_classified_path, class: "btn btn-primary btn-md disabled" %>
                          </span>
                        <% end %>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="m-b-lg">

                        <!-- this may get added in future updates <div class="input-group">
                            <input type="text" placeholder="Search advert by name..." class=" form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-white"> Search</button>
                            </span>
                        </div>-->
                        <div class="m-t-md">

                            <div class="pull-right" id="the-actions">
                                <%= link_to edit_classified_path(0), class: "btn btn-white change-id" do %>
                                  <i class="fa fa-pencil-square-o"></i> Edit
                                <% end %>
                                <%= link_to classified_path(0), method: :delete, class: "btn btn-white change-id delete-url", id: 'addelete', :onclick => 'return false;'  do %>
                                  <i class="fa fa-trash-o"></i> Delete
                                <% end %>
                                <% if @profile.plans.ad_archive? %><button type="button" id="archiveChange" data-ad="0" class="btn btn-white changeStatsDrop"> <i class="fa fa-cog"></i> Make Offline <span class="showtooltip" data-toggle="tooltip" data-placement="top" title="Change your advert status to hide it from search results. You must have a subscription level which allows you to archive adverts"><i class="fa fa-question-circle"></i></span></button><% end %>
                            </div>
                            <strong>You have <%= @classAds.size %> Adverts.</strong>
                        </div>

                    </div>
                    <% if !@classAds.nil? %>
                      <div class="table-responsive">
                        <table class="table table-hover issue-tracker">
                            <tbody>
                            <% @classAds.each do |ad| %>
                              <tr>
                                  <td>
                                    <div class="i-checks ad-list-actions" data-adnum="<%= ad.id %>"><label> <input type="radio" name="ad" value=""> <i></i></label></div>
                                  </td>
                                  <td>
                                    <% if ad.status.to_f == 1 %>
                                      <span class="label label-primary">Live <span class="showtooltip" data-toggle="tooltip" data-placement="top" title="Your advert can be searched for"><i class="fa fa-question-circle"></i></span></span>
                                    <% elsif ad.status.to_f == 2 %>
                                      <span class="label label-success">Sold <span class="showtooltip" data-toggle="tooltip" data-placement="top" title="Your advert has been sold successfully. Congratulations!"><i class="fa fa-question-circle"></i></span></span>
                                    <% else %>
                                      <span class="label label-danger">Offline <span class="showtooltip" data-toggle="tooltip" data-placement="top" title="This advert cannot be found or viewed by customers"><i class="fa fa-question-circle"></i></span></span>
                                    <% end %>
                                  </td>
                                  <td class="issue-info">
                                      <%= link_to ad.adtitle, edit_classified_path(ad.id) %>
                                      <small>
                                          Advert #<%= ad.id%>
                                      </small>
                                  </td>
                                  <td>
                                      <%= ad.created_at.to_s(:short)  %>
                                  </td>
                                  <td>
                                      <%= number_to_currency(ad.price, precision: 2, unit: "£") %> 
                                  </td>
                                  <noscript>
                                      <td class="text-right">
                                        <%= link_to 'edit', edit_classified_path(ad.id), class: "btn btn-white btn-xs" %>
                                        <%= link_to 'remove', classified_path(ad.id), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: 'Are you certain you want to delete this?' } %>
                                        <% if @profile.plans.ad_archive? %><button class="btn btn-warning btn-xs changeStatsDrop" data-num="<%= ad.id%>">Change Status</button><% end %>
                                    </td>
                                  </noscript>
                              </tr>
                            <% end %>
                            </tbody>
                        </table>
                      </div>
                    <% end %>
                </div>

              <% if !@classAds.nil? %>
                <%= paginate @classAds %>
              <% end %>

            </div>
        </div>
    </div>
</div>

<% content_for :javascript do %>

  <script type="text/javascript">

      $(document).ready(function(){

        <% if !params[:tour].blank? %>
            theTour();
        <% end %>
      });
  </script>

<% end %>
