<div id="alert-append" class="wrapper wrapper-content container animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>
                        Create New Product Advert
                    </h2>
                    <p>
                        Use the options below to help create your new advert. Once you have completed all the fields, you can choose to purchase addons to enhance your advert or just go ahead and make the advert live.
                    </p>
					<%= render 'form' %>
				</div>
            </div>
        </div>

    </div>
</div>