
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="container">
        <h2>Sold Product Invoices</h2>
        <ol class="breadcrumb">
            <li>
                <li><%= link_to "Dashboard", dashboard_path %></li>
            </li>
            <li class="active">
                <strong>Sold Invoices</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content container animated fadeInRight">
    
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Sold Products Invoices</h5>
                    <p class="note"><small><strong>NOTE:</strong> this is for reference purposes only</small></p>
                </div>
                <div class="ibox-content">
                    <% if !@sold.nil? %>
                      <div class="table-responsive">
                        <table class="table table-hover issue-tracker">
                            <tbody>
                            <% @sold.each do |invoice| %>
                              <tr>
                                  <td>
                                    <% if invoice.refund %>
                                      <span class="label label-danger">Refunded</span>
                                    <% else %>
                                      <span class="label label-success">Paid</span>
                                    <% end %>
                                  </td>
                                  <td class="issue-info">
                                      <%= link_to invoice.adtitle, "/invoices/view/#{invoice.id}" %>
                                      <small>
                                          Advert #<%= invoice.id%>
                                      </small>
                                  </td>
                                  <td>
                                      <%= invoice.created_at.to_s(:short)  %>
                                  </td>
                                  <td>
                                      <%= number_to_currency(invoice.price, precision: 2, unit: "£") %> 
                                  </td>
                                  <td class="text-right">
                                    <%= link_to "/invoices/view/#{invoice.id}", class: "btn btn-white" do %>
										<i class="fa fa-eye"></i> View Invoice
                                    <% end %>
                                </td>
                              </tr>
                            <% end %>
                            </tbody>
                        </table>
                      </div>
                    <% end %>
                </div>

              <% if !@sold.nil? %>
                <%= paginate @sold %>
              <% end %>

            </div>
        </div>
    </div>
</div>