<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="thanks col-md-12 animated fadeInRightBig">
                <div class="ibox float-e-margins">
                    <div>
                        <div class="ibox-content no-padding border-left-right">
                            <div class="box-center text-center svg-mask">
                                <?xml version="1.0" encoding="utf-8"?>
                                <svg version="1.1" baseProfile="basic" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                         y="0px" viewBox="0 0 200 200" xml:space="preserve">
                                    <style type="text/css">
                                        .st0{fill:#4DA069;}
                                        .st1{fill:#373D41;}
                                        .st2{fill:#D6D7D8;}
                                        .st3{fill:#E6E7E8;}
                                        .ball{
                                            fill:#FFFFFF;
                                            animation-name:roll, drop;
                                            animation-duration: 1.5s, 0.5s;
                                            animation-timing-function: cubic-bezier(.42,.85,.51,1.02), ease-in;
                                            animation-iteration-count: 1, 1;
                                            animation-fill-mode: forwards, forwards;
                                            animation-delay: 2s, 3.2s;
                                        }

                                        @keyframes roll {
                                          0% {
                                            transform:translateX(0px)  translateY(0px);;
                                          }
                                          100% {
                                            transform: translateX(111px)  translateY(0px);;
                                          }
                                        }

                                        @keyframes drop {
                                          0% {
                                            transform:translateX(111px) translateY(0px);

                                          }
                                          50%{
                                            transform: translateX(125px) translateY(5px);
                                          }
                                          100% {
                                            transform: translateX(130px) translateY(20px);
                                          }
                                        }
                                    </style>
                                    <g id="Layer_1">
                                        <rect x="-6.9" y="-3.4" class="st0" width="210" height="205.8"/>
                                    </g>
                                    <g id="Layer_2">
                                        <ellipse class="st1" cx="126.9" cy="116.8" rx="21.8" ry="4.5"/>
                                        <g>
                                            <line class="st2" x1="136.3" y1="119.8" x2="136.3" y2="0.7"/>
                                            <path class="st3" d="M136.3,121.3c0,0-5.1,0.5-5-1.4V0.7c0-2.8,2.2-5,5-5s5,2.2,5,5v119.2C141.2,121.4,136.3,121.3,136.3,121.3z"
                                                />
                                        </g>
                                        <circle class="ball" cx="-6.9" cy="109.8" r="7"/>
                                    </g>
                                    <g id="Layer_3">
                                        <path class="st0" d="M-6.9,116.8v85.6h210v-85.6l-54.4,0c0,2.5-9.8,4.5-21.8,4.5c-12.1,0-21.8-2-21.8-4.5L-6.9,116.8z"/>
                                    </g>
                                    <g id="Layer_4">
                                    </g>
                                </svg>
                            </div>
                            <div class="row content">
                                <div class="text-center col-md-10 block-center">
                                    <h1>Hole in one!</h1>
                                    <p><strong>Thank you for buying with Pro Finder Golf, we're delighted to say your order is has been completed!</strong></p>
                                    <hr/>
                                </div>
                                <div class="col-md-10 block-center">
                                    <p>Please check your email inbox for a confirmation email of your purchase. If you have problems, queries or questions about your purchase, please get in touch through our <a href="https://help.profinder.golf" target="_blank">help desk. Click here to contact us.</a></p>
                                </div>
                                <div class="col-md-10 block-center">
                                    <div class="speech clearfix">
                                        <figure class="col-md-2">
                                            <img src="<%= @seller.avatars.theimage.thumb.url %>" />
                                        </figure>
                                        <blockquote class="col-md-10 pull-right">
                                            <p>Hey thanks for placing your order with me. My aim is to provide products that will help improve your game. If you have any questions about your item, please feel free to contact myself at: <a href="mailto:<%= @seller.email %>"><%= @seller.email %></a>. If you'd like a refund on your purchase, please contact myself on the same email address. Thanks again and enjoy your purchase!</p>
                                            <cite><%= @seller.profile.name %><br/><%= @seller.profile.golfclub %></cite>
                                        </blockquote>
                                    </div>
                                    <hr/>
                                </div>
                                <div class="col-md-10 block-center clearfix">
                                    <div class="col-md-6">
                                        <h2>Share Your Purchase</h2>
                                        <p>We would love it if you could promote your purchase on social media. By letting everyone know you've shopped with us, you can really help promote us and we can help ensure all your friends and connections share the same experience as you on profinder.golf.</p>
                                        <ul class="sharing">
                                            <li class="facebook"><a href="https://www.facebook.com/dialog/feed?app_id=184683071273&link=https%3A%2F%2Fwww.profinder.golf&picture=**urltogohere**&name=I've%20just%20used%20Pro%20Finder%20Golf%20to%20buy%20top%20quality%20gold%20gear!%20You%20should%20use%20it%20too.&caption=%20&description=Pro%20Finder%20Golf%20is%20the%20UK's%20only%20market%20place%20you%20can%20search%20for%20your%20local%20Golf%20Pro%20and%20buy%20high%20quality%20golf%20gear%20from%20them%20online.%20Find%20out%20what%20services%20your%20local%20pro%20offers%20and%20see%20a%20wide%20range%20of%20gear%20that%20can%20help%20you%20take%20your%20golf%20game%20to%20the%20next%20level.&redirect_uri=http%3A%2F%2Fwww.facebook.com%2F"><i class="fa fa-facebook-official"></i></a></li>
                                            <li class="twitter"><a href="http://twitter.com/intent/tweet?text=I've%20just%20used%20Pro%20Finder%20Golf%20to%20buy%20top%20quality%20gold%20gear!%20You%20should%20use%20it%20too.%20https%3A%2F%2Fwww.profinder.golf%20%23findyourpro"><i class="fa fa-twitter-square"></i></a></li>
                                            <li class="gplus"><a href="https://plus.google.com/share?url=https://www.profinder.golf"><i class="fa fa-google-plus-square"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 pull-right feedback">
                                        <h2>Rate Your Experience</h2>
                                        <form id="feedback">
                                            <input type="hidden" id="name" name="name" value="<%= @charge['source']['name'] %>" />
                                            <input type="hidden" id="email" name="email" value="<%= @charge['receipt_email'] %>" />
                                            <input type="hidden" id="order" name="order" value="<%= @sold.id %>" />
                                            <input type="hidden" id="date" name="date" value="<%= Time.now() %>" />
                                            <input type="hidden" id="seller" name="seller" value="<%= @seller.profile.name %>" />
                                            <input type="hidden" id="price" name="price" value="<%= @sold.price %>" />
                                            <input type="hidden" id="id" name="id" value="1979UK3i1OHdPhKNFooPp9A2KG1wiWx2XfCbFM1qq6HU" />
                                            <input type="hidden" id="rating" name="rating" value="5" />

                                            <div class="input-group clearfix">
                                                <label class="col-sm-12 control-label">Overall Rating</label>
                                                <div id="rateYo"></div>
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="input-group col-md-12">
                                                <label class="col-sm-12 control-label">Comments</label>
                                                <textarea class="form-control" name="comments" placeholder="Anything you want to let us know about?"></textarea>
                                            </div>
                                            <button id="submit" class="btn btn-primary ladda-button" data-style="expand-right"><span class="ladda-label">Send Feedback</span></button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-10 block-center text-center search-again">
                                    <hr/>
                                    <h2>Looking for Something Else?</h2>
                                    <form action="/search" method="get" class="clearfix col-centered">
                                        <div class="form-group col-md-5 has-feedback">
                                            <input type="text" class="form-control" name="q" placeholder="What are you searching for?"  />
                                            <i class="glyphicon glyphicon-search form-control-feedback"></i>
                                        </div>
                                        <div class="form-group col-md-5 has-feedback">
                                            <input id="location-field" type="text" class="form-control" name="location" placeholder="Where are you?"  />
                                            <i class="glyphicon glyphicon-map-marker form-control-feedback"></i>
                                        </div>
                                        <button class="btn btn-primary col-md-2 pull-right ladda-button" type="submit" data-style="slide-up"><span class="ladda-label">Search</span></button>
                                    </form>
                                    <div class="hr-line-dashed"></div>
                                    <a href="/" class="btn btn-white btn-md">Return to Homepage</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
