<div class="row wrapper border-bottom white-bg page-heading"> 
    <div class="container">
        <h2>Sold Product Invoices</h2>
        <ol class="breadcrumb">
            <li>
                <li><%= link_to "Dashboard", dashboard_path %></li>
            </li>
            <li>
                <strong>Sold Invoices</strong>
            </li>
            <li class="active">
                <strong>Product #<%= @invoice.id %> Invoice</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
<div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content p-xl">
            <div class="row">
                <div class="col-sm-6">
                    <h5>Sold By:</h5>
                    <span><strong><%= @profile.name %></strong></span>
                    <address>
                        <%= @profile.golfclub %><br>
                        <% latLon = "#{@profile.latitude}, #{@profile.longitude}" %>
                        <% address = Geocoder.search(latLon).first %>
                        <%= address.city %><br/>
                        <% if !address.state.nil? %><%= address.state %><br/><% end %>
                        <%= address.postal_code %><br/>
                        <%= address.country %><br/><br/>
                        <abbr title="Phone">T:</abbr> <%= @profile.phone %>
                    </address>
                </div>

                <div class="col-sm-6 text-right">
                    <% if @invoice.refund %>
                      <span class="label label-lg label-danger">Refunded</span>
                    <% end %>
                    <h4>Sale No.</h4>
                    <h4 class="text-navy"><%= @invoice.id %>0</h4>
                    <h5>Bought By:</h5>
                    <span><strong><%= @charge['source']['name'] %></strong></span>
                    <address>
                        <%= @charge['source']['address_line1'] %><br/>
                        <% if !@charge['source']['address_line2'].blank?%> <%= @charge['source']['address_line2'] %><br/> <% end %>
                        <%= @charge['source']['address_city'] %><br/> 
                        <%= @charge['source']['address_state']%><br/>  
                        <%= @charge['source']['address_country']%><br/><br/>  
                        <abbr title="Phone">T:</abbr> <%= @profile.phone %>
                    </address>
                    <p>
                        <span><strong>Invoice Date:</strong> <%= @invoice.created_at %></span><br />
                    </p>
                </div>
            </div>

            <div class="table-responsive m-t">
                <table class="table invoice-table">
                    <thead>
                    <tr>
                        <th>Item List</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Fees</th>
                        <th>Total Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div><strong><%= @invoice.adtitle %></strong></div>
                            <small><%= @invoice.description %></small>
                        </td>
                        <td>1</td>
                        <td><%= number_to_currency(@invoice.price, precision: 2, unit: "£") %> </td>
                        <td><%= number_to_currency((2/@invoice.price)*100, precision: 2, unit: "£") %> </td>
                        <td><%= number_to_currency(@invoice.price- ((2/@invoice.price)*100), precision: 2, unit: "£") %> </td>
                    </tr>

                    </tbody>
                </table>
            </div><!-- /table-responsive -->

            <table class="table invoice-total">
                <tbody>
                <tr>
                    <td><strong>Sub Total :</strong></td>
                    <td><%= number_to_currency(@invoice.price, precision: 2, unit: "£") %> </td>
                </tr>
                <tr>
                    <td><strong>FEES :</strong></td>
                    <td><%= number_to_currency((2/@invoice.price)*100, precision: 2, unit: "£") %></td>
                </tr>
                <tr>
                    <td><strong>TOTAL :</strong></td>
                    <td><%= number_to_currency(@invoice.price- ((2/@invoice.price)*100), precision: 2, unit: "£") %> </td>
                </tr>
                </tbody>
            </table>

            <div class="well m-t">
                <strong>Legal</strong>
                This is a proof of purchase for this item. The customer has the right to collect the item listed above from you upon providing significant proof identification <strong>or</strong> proof of purchase (e.g purchase receipt). You must provide the customer with the item listed above upon proof of purchase or proof of identification. Failure to do so will result in a forced refund to the customer and your account will be terminated with immediate effect.
            </div>
            <div class="row">
                <div class="col-lg-4 pull-right">
                    <div class="title-action">
                        <% if !@invoice.refund %>
                            <a href="#" target="_blank" id="issueRefund" data-id="<%= params[:id] %>" class="btn btn-danger"><i class="fa fa-credit-card"></i> Issue Refund </a>&nbsp;&nbsp;
                        <% end %>
                        <a href="#" onclick="window.print(); return false;" target="_blank" class="btn btn-primary pull-right"><i class="fa fa-print"></i> Print Invoice </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

