  <div class="loginColumns animated fadeInDown">
      <div class="row">

          <div class="col-md-6 intro">
              <figure class="center-block col-xs-12">
                <%= image_tag "svgs/branding/logo.svg", width:"80%" %>
              </figure>
              <h2 class="font-bold">Login to Pro Finder Golf</h2>

              <p>Use for the form on this page to login to your pro user dashboard.</p>
              <p><strong>Forgot password?</strong> Just click the "Forgot Password" link at the bottom of the form to set a new password.</p>
              <p><strong>Don't have an account yet?</strong> Head over to our <a href="/signup" target="_blank">sign-up</a> to register for a new account.</p>

          </div>
          <div class="col-md-6">
              <div class="ibox-content">
                  <%= form_for(resource, :html => {class: 'm-t', role: "form"}, as: resource_name, url: session_path(resource_name)) do |f| %>
                      <div class="form-group">
                          <%= f.email_field :email, class: "form-control", placeholder: "Username", required: "", autofocus: true %>
                      </div>
                      <div class="form-group">
                          <%= f.password_field :password, class: "form-control", placeholder: "Password", required: "", autocomplete: "off" %>
                      </div>
                      <div class="form-group">
                        <% if devise_mapping.rememberable? -%>
                            <label>
                                <%= f.check_box :remember_me %> Remember Me
                            </label>
                        <% end %>
                      </div>

                      <button type="submit" class="btn btn-primary block full-width m-b ladda-button" data-style="expand-right"><span class="ladda-label">Login</span></button>
  
                      <%= link_to(new_user_password_path) do %>
                          <small>Forgot password?</small>
                      <% end %>
                  <% end %>
                  <p class="m-t">
                      <small><span class="glyphicon glyphicon-lock"></span> Keep your login details private for security </small>
                  </p>
              </div>
          </div>
      </div>
  </div>