/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
*/
@import "animate/animate.css.scss";
@import "select2.css.scss";
@import "select2-bootstrap";
@import "bootstrap_custom";
@import "style";
@import "pages";
@import "devise";
@import "dashboard";
@import "classifieds";
@import "search";
@import "profiles";
@import "subscription";
@import "errors";

.home{
	#page-wrapper{
		padding:0;
		margin:0;
	}
}

.gold{
	background:#f1c40f;
	color:#fff;
}

.btn-primary{
	background:$green;
	transition: background 5ms ease-in-out;

	&:hover{
		background:$green80;
	}
}

.thenavbar{
	position:relative;
	z-index:100;
	@include rem-fallback(padding, 0, 18);
}

.img-responsive{
	width:100%;
}

.modal-body{
	position:relative;

	#loading{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index: 9999;
		background:rgba(255,255,255,0.6);

		svg{
			position: absolute;
			top:45%;
			left:45%;
		}
	}
}

.thenavbar{
	z-index:101;
}

.navbar{
		
	height:50px;


	.navbar-right{
		padding:0;
		margin-right:0;
	}
	
	.search-bar{
		border-left:1px solid $grey20;

		form{
			margin:0;
			padding:0;

			input{
				border:none;
				height:50px;
			}
		}
	}
}

footer{

	&.footer{
		position:relative;
		@include rem-fallback(padding-top, 30);

		.middle{
			margin:0 auto;
			float:none;
		}

		nav{
			ul{
				list-style:none;

				li{
					display:inline-block;
					@include rem-fallback(margin-left, 15);

					a{
						@include rem-fallback(font-size, 19);
					}
				}
			}
		}
	}
}

@media (max-width: 1200px) and (min-width:767px){
	
	.top-navigation{
		.navbar{
			.navbar-header{
				max-width: 20%;
			}
		}
	}
}

@media (max-width: 770px) {

	.navbar-collapse{
		background:#fff;

		.navbar-nav{
			padding-right:0;
			margin-right:0;

			.dropdown-menu{
				width:100%;
			}
		}
	}
}

@media (max-width: 769px){
	.top-navigation{
		.navbar-header{
			float:left;
			width:100%;

			.navbar-toggle{
				float:right;
				@include rem-fallback(margin-top,12px);
				@include rem-fallback(margin-bottom,12px);
			}
		}

		.navbar-collapse {
			@include rem-fallback(padding-top, 30);
		}

		.navbar-brand{
			width:70%;
		}
	}
}

@media (max-width: 600px) {
.top-navigation{
	.propanel{
		nav{
			@include rem-fallback(font-size, 20);
			
			.search-bar{
				display:none;
			}

			ul{
				&.nav{

					li{
						a{
							@include rem-fallback(padding, 15, 8);
						}
					}
				}
			}
		}
	}
}

	footer{
		&.footer{
			nav{
				ul{
					li{
						display:block;
						@include rem-fallback(margin-bottom, 15);
					}
				}
			}
		}
	}

}

.dropdown-menu{
	z-index:1001;
}

.wizard > .content > .body {
	position:relative !important;
}
.ladda-button{
	font-size:auto;
	padding:auto;
}

.ui-autocomplete{
	list-style:none;
	z-index:999;
	padding-left:0;
	background:#fff;
	position:absolute !important;

	li{
		padding: 5px 20px;
	}
}