// Place all the styles related to the classifieds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "iCheck/custom.css.scss";
@import "steps/jquery.steps.css.scss";
@import "summernote/summernote-bs3.css.scss";
@import "summernote/summernote.css.scss";
@import "cropper/cropper.min.css.scss";
@import "daterangepicker/daterangepicker-bs3.css.scss";
@import "rateyo/jquery.rateyo.min.css.scss";

.label-lg{
	@include rem-fallback(font-size, 28);
	@include rem-fallback(padding, 20, 25);
	@include rem-fallback(line-height, 80);
}

.classifieds{

	.product-images{
		.slick-dots{
			bottom:-45px;
		}
	}

	.note{
		width:100%;
		@include rem-fallback(margin-top, 15);
		clear:both;
		display: block;
		small{
			display: block;
			width:100%;
		}
	}

	#ad-wizard{
		opacity: 0;
		//transition: all 3ms ease-in-out;

		&.wizard{
			animation-name: fadeInRight;

			h2{
				display: inline-block;
			}
		}
	}

	.breadcrumb{
		background-color:transparent;
		background:transparent;
	}

	.ibox{
		border:1px solid $grey20;
		border-radius:5px;
	}

	.issue-tracker{

		tr{

			&.highlight{
				background: $table-highlight;
			}
		}
	}

	.note-editor{
		background:#fff;
	}

	.preview-lg {
	    height: 148px;
	    width: 263px;
	}
	.img-preview {
	    float: left;
	    margin-bottom: 10px;
	    margin-right: 10px;
	    overflow: hidden;
	}
	.img-container, .img-preview {
	    background-color: #f7f7f7;
	    text-align: center;
	    width: 100%;
	}

	.img-container {
	    min-height: 516px;
	}
	.img-container {
	    margin-bottom: 20px;
	    max-height: 516px;
	    min-height: 200px;
	}
	.img-container img {
	  width: 100%;
	}
	.img-container, .img-preview {
	    background-color: #f7f7f7;
	    text-align: center;
	    width: 100%;
	}

	.add-ons{

		@include rem-fallback(margin-top, 20);

		.icheckbox_square-green{
			@include rem-fallback(margin-right, 10);
		}

		.form-group{
			@include rem-fallback(padding, 20, 10, 10, 10);
			@include rem-fallback(margin-bottom, 10);
			background: #fff;
			border-top:1px solid #ccc;
		}

		label{
			display: block;
			width:100%;
		}

		strong{
			font-weight: bold;
			color:black;
		}
	}

	.wizard{

		.steps{
			ul{
				li{
					width:16%;
				}
			}
		}

		.content{
			.body{
				input{
					&.select2-search__field{
						border:none;
					}
				}
			}

			ul{
	
				li{
					list-style:none;
				}

				&.select2-selection{
					list-style:none;
				}
				&.select2-search{
					list-style:none;
				}
			}
		}
	}

	.product-detail{
		position:relative;
		overflow:hidden;
	}

	.resp-sharing-button {
	  display: inline-block;
	  border-radius: 5px;
	  border-width: 1px;
	  border-style: solid;
	  transition: background-color 25ms ease-out, border-color 25ms ease-out, opacity 250ms ease-out;
	  margin: 0.5em;
	  padding: 0.5em 0.75em;
	  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	}

	.resp-sharing-button a {
	  text-decoration: none;
	  color: #FFF;
	  display: block;
	}

	.resp-sharing-button__icon {
	  display: inline-block;
	}

	.resp-sharing-button__icon svg {
	  width: 1em;
	  height: 1em;
	  margin-bottom: -0.1em;
	}

	/* Non solid icons get a stroke */
	.resp-sharing-button__icon {
	  stroke: #FFF;
	  fill: none;
	}

	/* Solid icons get a fill */
	.resp-sharing-button__icon--solid,
	.resp-sharing-button__icon--solidcircle {
	  fill: #FFF;
	  stroke: none;
	}

	.resp-sharing-button__link {
	  text-decoration: none;
	  color: #FFF;
	}

	.resp-sharing-button--large .resp-sharing-button__icon svg {
	  padding-right: 0.4em;
	}

	.resp-sharing-button__wrapper {
	  display: inline-block;
	}

	.resp-sharing-button--facebook {
	  background-color: #3b5998;
	  border-color: #3b5998;
	}

	.resp-sharing-button--facebook:hover,
	.resp-sharing-button--facebook:active {
	  background-color: #2d4373;
	  border-color: #2d4373;
	}

	.resp-sharing-button--twitter {
	  background-color: #55acee;
	  border-color: #55acee;
	}

	.resp-sharing-button--twitter:hover,
	.resp-sharing-button--twitter:active {
	  background-color: #2795e9;
	  border-color: #2795e9;
	}

	.resp-sharing-button--google {
	  background-color: #dd4b39;
	  border-color: #dd4b39;
	}

	.resp-sharing-button--google:hover,
	.resp-sharing-button--google:active {
	  background-color: #c23321;
	  border-color: #c23321;
	}

	.resp-sharing-button--email {
	  background-color: #444444;
	  border-color: #444444;
	}

	.resp-sharing-button--email:hover
	.resp-sharing-button--email:active {
	  background-color: #2B2B2B;
	  border-color: #2B2B2B;
	}

	.preload{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:rgba(255,255,255,0.6);
		z-index:100;
		display:none;
		opacity: 0;

		svg{
			position: absolute;
			top:45%;
			left:45%;
		}
	}

	#reportrange{

		&.disabled{
		opacity:0.7;

			&:hover{
				cursor: not-allowed;
			}
		}
	}

	#theExtraImages{
		.file{
			padding:0;
			.icon{
				display: block;
				width:100%;

				img{
					position:relative;
				    top: 50%;
				    transform: translateY(-50%);
				}
			}
		}
	}

	.thanks{
		.svg-mask{
			border-radius: 500px; 
			max-width:250px; 
			max-height:250px; 
			overflow:hidden;
			margin: 0 auto;
			border:7px solid #eee;
			@include rem-fallback(margin-top, 50);
			@include rem-fallback(margin-bottom, 30);
		}

		.content{

			@include rem-fallback(padding-bottom, 40);

			.block-center{
				margin: 0 auto;
				float:none;

				a{
					color:$green;
				}

				.speech{

					@include rem-fallback(padding, 40);
					background:#fafafa;
					border:1px solid #eee;
					@include rem-fallback(margin, 60, 0);
					border-radius:3px;

					figure{
						overflow:hidden;
						border-radius:50%;
						border:8px solid #eee;
						padding:0;

						 img{
						 	max-width: 100%;
						 }
					}

					blockquote{
						margin-bottom: 0;
						border-left:0;
						border-right:0;
						text-align: left;
						@include rem-fallback(padding-left, 30);
						@include rem-fallback(font-size, 23);
					}
				}
			}

			.sharing{
				
				padding:0; 
				margin:0;
				
				li{
					display: inline-block;
					@include rem-fallback(margin-right, 10);

					&.facebook{
						a{
							color:#3b5998;		
						}
					}

					&.twitter{
						a{
							color:#55acee;
						}
					}

					&.gplus{
						a{
							color:#dd4b39;
						}
					}

					a{
						i{
							@include rem-fallback(font-size, 60);
						}
					}
				}
			}

			.feedback{

				label{
					margin-left: 0;
					padding-left: 0;
				}

				#rateYo{
					clear:both;
				}

				textarea{
					width:100%;
					@include rem-fallback(margin, 20, 0);
				}
			}

			.search-again{

				h2{
					@include rem-fallback(margin-bottom, 40);
					@include rem-fallback(margin-top, 15);
				}

				form{
					.glyphicon{
						right:20px;
					}
				}
			}
		}
	}
}

#detailsModal{
	.block-center{
		.middle-me{
			float:none;
			@include rem-fallback(margin-top, 20);
			margin-left:auto;
			margin-right:auto;
		} 
	}
}

.modal-body img {
	max-width: 100%;
	width:100%;
}

.image-imitation{
	padding:0;

	img{
		position:relative;
	}
}

.slick-dots{
	position:relative;
}

@media (max-width: 680px) {
	.classifieds{
		.wizard{
			.steps{
				ul{
					li{
						width:100%;
					}
				}
			}
		}
	}

}