// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrapTour/bootstrap-tour.min.css.scss";

body{
	&.tour-open{
		.animated {
    		animation-fill-mode: initial;
    	}
    }
}

.tour-step-background{
	background:#fff;
	z-index:1;
}

.popover[class*=tour-]{
	z-index:2101;
}

span{
	&.showtooltip{
		position:relative;
		z-index:1001;
	}
}

.keywords{
	ul{
		margin-left:0;
		padding-left:0;
		list-style:none;
		@include rem-fallback(margin-top, 10);
	}
	li{
		border-top:1px solid #ddd;
		@include rem-fallback(padding, 10, 0);
	}
}