// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.devise{

	&.sessions{
		.intro{

			@include rem-fallback(padding, 50);

			figure{
				@include rem-fallback(margin-bottom, 40);
			}
		}

		form{
			.form-group{
				.form-control{
					@include rem-fallback(padding, 20);
					min-height:45px;
				}

				label{
					@include rem-fallback(margin, 5, 0, 5, 5);
				}
			}
		}
	}

	footer{
		
	}

}

.registrations{

	&.edit{

		.payment-card{
			border-radius: 5px;
			@include rem-fallback(margin-bottom, 10);
			@include rem-fallback(margin-top, 10);
		}

		.payment-icon-big {
    		font-size: 60px;
    	}
	}
}

@media (max-width: 991px){

	.devise{

		&.sessions{
			.intro{

				figure{
					text-align: center;

					img{
						width:50%;
					}
				}
			}
		}
	}
}