.errors{
	#page-wrapper{
		padding:0;
	}

	.anystretch{
		.middle-box{
			color:#fff;
			position: relative;
			@include rem-fallback(padding, 230, 0);

			h1{
				@include rem-fallback(font-size, 70px);
			}
		}
		.anystretch{
			z-index:1 !important;
		}
	}
}