// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pages{

	.btn{
		@include rem-fallback(font-size, 21);
		@include rem-fallback(padding, 15, 30);
		border:none;
	}

	.ibox-content{
		border:1px solid $grey20;
		border-radius:5px;
	}

	&.home{

		.row-centered {
		    text-align:center;
		}

		.col-centered{
			float:none;
		}

		.alpha-bg{
			background:rgba(0,0,0,0.5);
			@include rem-fallback(padding, 30, 30, 10);
			margin: 0 auto;
			border-radius:5px;
			float:none;

			form{
				margin:0 auto;

				.form-group{
					width:40%;
					float:left;
		
					input{
						@include rem-fallback(padding, 25, 70, 25, 30);	
						border:1px solid $grey20;
						margin:0;
						height:50px;
					}

					i{
						height:50px;
						top:20%;
						right:3%;
					}
				}

				button{		
					@include rem-fallback(padding, 23, 30, 23, 30);			
					margin:0;
					float:left;
					@include rem-fallback(font-size, 24);
					width:20%;
					font-weight: bold;
					border-radius:0;
				}
			}
		}

		#bgVideo{
			position:relative;
			width:100%;
			@include rem-fallback(min-height, 850);
			z-index:2;
			@include rem-fallback(margin-bottom, 50);

			.container{

				position:relative;
				z-index: 5;

				h1{
					margin-top:0;
					width:100%;
					text-align: center;
					z-index:2;
					color:#fff;
					font-weight:800;
					@include rem-fallback(font-size, 68);
					@include rem-fallback(padding, 250, 0, 10);
					text-shadow: 0 1px 0 #000;
				}

				h4{
					color:#fff;
					@include rem-fallback(font-size, 45);
					font-weight:200;
					@include rem-fallback(padding, 0, 0, 50);
					text-shadow: 0 1px 0 #000;
				}
			}

			.overlay{
				background:rgba(0,0,0,0.2);
				height:100%;
				width:100%;
				position: absolute;
				z-index: 1;
				top:0;
				left:0;
			}

			.theVids{
				height:100%;
				width:100%;
				position:absolute !important;

				video{
					height:auto !important;
					width:100%  !important;
				}
			}
		}

		#ad-highlight{
			float:none;
			margin: 0 auto;
			@include rem-fallback(padding, 10, 0, 30);

			h3{
				&.h-subheader{
					@include rem-fallback(font-size, 35);
					@include rem-fallback(padding, 20, 0, 50);
				}
			}

			ul{
				padding-left:0;
				margin-left:0;
			
				li{
					list-style:none;

					div{	
						
						background: #fff;
						padding:0;
						border-radius:5px;
						
						span{
							&:first-child{
								@include rem-fallback(padding, 10, 20);
								background: $green;
								color:#fff;
								display:block;

								h6, h5{
									background:none;
								}

								h6{
									color:#ffe95b;
									@include rem-fallback(font-size, 22);
								}

								h5{
									@include rem-fallback(font-size, 28);
								}
							}
						}

						.content{
							@include rem-fallback(padding, 30, 30);

							h3{
								color:#2274a5;
								@include rem-fallback(font-size, 40);
							}
							p{
								@include rem-fallback(font-size, 23);
							}
							span{
								text-transform: capitalize;
							}
						}
					}
				}
			}
		}

		.tabs-container{

			border-radius: 0 0 5px 5px;
			overflow:hidden;
			border:1px solid $grey20;
			clear:both;
			float:none;
			margin: 0 auto;
			padding:0;

			.nav-tabs{
				background:$navy;

				li{
					
					color:#fff;
					border-right:1px solid $gray;

					a{
						border-radius:0;
						margin-right:0;
						color:#fff;
						text-align:center;
						border-top:3px solid $navy;

						&:hover{
							background:$green80;
						}
					}

					&:last-child{
						border-right:none;
					}

					&.active{
						
						border:none;

					 	a{
					 		border:none;
					 		border-top:3px solid $navy;
							color:$navy;

							&:hover{
								background:#fff;
							}
						}
					}
				}
			}

			.tab-content{

				background:#fff;
				border:0;
				@include rem-fallback(padding, 30, 0);

				.panel-body{

					border:none;

					button{
						border-radius:5px;
						background: $green;
						border:none;
						text-transform:capitalize;
						@include rem-fallback(margin, 20, 0);
						@include rem-fallback(padding, 10, 100);
					}

				}
			}
		}

		.social-bar{
			background:#fff;
			@include rem-fallback(padding, 30, 20);

			.middle{

				margin:0 auto;
				float:none;

				p, li{
					color:$grey60;
					display: inline-block;
				}

				ul{
					display: inline-block;

					li{
						@include rem-fallback(padding, 10);
						@include rem-fallback(margin-top, 5);
						a{
							i{
								@include rem-fallback(font-size, 50);

								&.fa-facebook-official{
									color:#3b5998;
								}

								&.fa-twitter-square{
									color:#00aced;
								}
								
								&.fa-google-plus-square{
									color:#dd4b39;
								}

								&.fa-youtube-square{
									color:#bb0000;	
								}
							}							
						}
					}
				}
			}

			&.sign-up-bar{
				background:none;
				position: relative;
				z-index: 1;
				@include rem-fallback(padding, 70, 0);

				p{
					color:#fff;
					@include rem-fallback(font-size, 28);
				}

				a{
					@include rem-fallback(font-size, 28);
					@include rem-fallback(margin-left, 20);
				}
			}
		}

		.blogPosts{
			background:#dfdfdf;
			@include rem-fallback(padding, 50);
			border-top:1px solid $grey40;

			.container{

				.card-box{
					background:#fff;
					box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
					@include rem-fallback(padding, 35, 35, 45);
					float:none;
					margin: 0 auto;

					.loading{
						color:$green;
						float:none;
						text-align:center;
						margin: 0 auto;
					}

					.postsData{
						display: none;

						h3{
							@include rem-fallback(font-size, 35);
							@include rem-fallback(padding-bottom, 20);
						}

						ul{
							list-style: none;
							margin:0;
							border-right:1px solid #e5e6e7;
							padding:0;
							@include rem-fallback(margin-bottom, 40);

							li{

								@include rem-fallback(margin-bottom, 20);
								@include rem-fallback(padding, 20, 0);
								border-bottom:1px solid #e5e6e7;

								a{

									display:block;
									clear:both;

									figure{
										img{
											max-width: 100%;
										}
									}

									p{
										margin:0;
										@include rem-fallback(margin-bottom, 10);
										span{
											color:$green;
										}

										&.date{
											@include rem-fallback(font-size, 16);
											@include rem-fallback(margin-bottom, 5);
										}

										&:last-child{
											margin-bottom:0;
										}
									}
								}
							}
						}
					}

					#sponsor{

						h3{
							@include rem-fallback(margin-bottom, 15);
						}

						figure{
							@include rem-fallback(padding, 22);
							border:1px solid #ded;
							@include rem-fallback(margin, 25, 0);

							img{
								max-width:100%;
							}
						}

						p{
							@include rem-fallback(margin, 20, 0);
							@include rem-fallback(font-size, 22);
							@include rem-fallback(line-height, 32);
						}

						.slick-slide{
							&:focus{

							}
						}
					}
				}
			}
		}

		.tall-footer{

			@include rem-fallback(padding, 40, 0);

			img{
				width:65%;
			}

			h3{
				@include rem-fallback(font-size, 28);
			}

			p{
				@include rem-fallback(padding-top, 25);
				@include rem-fallback(line-height, 40);
			}

			input, textarea{
				border-radius:3px;
			}

			textarea{
				@include rem-fallback(padding, 20);
				@include rem-fallback(height, 130);				
			}

			input{
				@include rem-fallback(padding, 20);
				@include rem-fallback(height, 65);
			}

			.middle{
				margin:0 auto;
				float:none;
			}
		}
	}

	&.signup{
		.anystretch{
			position: relative;
			border-bottom:1px solid #ddd;

			.anystretch{
				z-index:1 !important;
			}

			.gradient{
				width:100%;
				height:100%;
				position: absolute;
				z-index: 2;
				top:0;
				opacity: 0.6;
				left:0;
				background: #76b852; /* fallback for old browsers */
				background: -webkit-linear-gradient(to left, #76b852 , #8DC26F); /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to left, #76b852 , #8DC26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			}

			.text{
				position: relative;
				z-index: 3;
				color:#fff;
				@include rem-fallback(padding, 120, 0);

				h2{
					@include rem-fallback(font-size, 53);
					font-weight: bold;
				}

				p{
					@include rem-fallback(font-size, 28);
				}

				a{
					@include rem-fallback(font-size, 28);
				}
			}
		}

		.center-block{
			float:none;
			@include rem-fallback(padding, 100, 0, 0, 0);

			h3{
				@include rem-fallback(font-size, 42);
			}

			p{
				@include rem-fallback(font-size, 28);
				@include rem-fallback(line-height, 42);
				@include rem-fallback(margin-bottom, 28);
			}

			figure{
				img{
					max-width:100%;
				}
			}
		}

		.feature{
			background:#fff;
			border-bottom:1px solid #ddd;

			.center-block{
				display: table;

				.col-sm-8{
					float:none !important;
					display: table-cell;
					vertical-align: bottom
				}
				
				.col-sm-4{
					float:none !important;
					display: table-cell;
				}
			}
		}


		.feature-2{
			background:$grey;
			color:#fff;
			border-bottom:1px solid #ddd;

			.center-block{
				display: table;

				.col-sm-8{
					float:none !important;
					display: table-cell;
					vertical-align: bottom
				}
				
				.col-sm-4{
					float:none !important;
					display: table-cell;
				}
			}
		}

		.feature-3{
			background:#fff;
			border-bottom:1px solid #ddd;

			.center-block{
				display: table;

				.col-sm-8{
					float:none !important;
					display: table-cell;
					vertical-align: bottom
				}
				
				.col-sm-4{
					float:none !important;
					display: table-cell;
				}
			}
		}

		.pricing{
			@include rem-fallback(padding, 40, 0);

			.card{
				background:#fff;
				box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
				@include rem-fallback(padding, 50, 30, 30);

				ul{
					padding:0;
					list-style: none;
					@include rem-fallback(margin-bottom, 25);

					li{
						

						a{
							display: block;
							border:1px solid #eee;
							@include rem-fallback(padding, 20);
							text-align: center;

							h4{
								text-align: center;
								font-weight:bold;
								@include rem-fallback(font-size, 30);
							}

							ul{

								li{
									display:block;
									clear:both;

									span{
										&.fa-check{
											color:$green;
											float:left;
										}
									}
								}
							}

							span{
								&.btn{
									@include rem-fallback(font-size, 24);
									font-weight: bold;
								}
							}
						}

						&.yellow{
							a{
								border-top:5px solid #D0D64B;
							}
						}

						&.red{
							a{
								border-top:5px solid #E24A4A;
							}
						}

						&.white{
							a{
								border-top:5px solid #D1D1D1;
							}
						}
					}
				}

				.free{
					@include rem-fallback(padding, 20);

					a{
						border:1px solid #eee;
						@include rem-fallback(padding, 20);
						display: block;
						border-top:5px solid $green;

						h4{
							font-weight:bold;
							@include rem-fallback(font-size, 26);
						}

						p{
							@include rem-fallback(font-size, 21);
						}

						span{
							@include rem-fallback(font-size, 21);
						}
					}
				}

				.features{
					float:none;
					margin-left: auto;
					margin-right: auto;

					li{
						text-align: left;

						span{
							@include rem-fallback(padding-right,20);
						}
					}
				}
			}
		}
	}

}

@media (max-width: 770px) {

	.pages{

		&.home{

			.blogPosts{

				.container{

					.card-box{
						.postsData{
							ul{
								border-right:none;

								li{
									border-bottom:1px solid $grey20;
								}
							}
						}

						#sponsor{
							@include rem-fallback(padding-top, 30);
							@include rem-fallback(margin-top, 30);
							border-top:1px solid #e5e6e7;
						}
					}
				}
			}
		}
	}

}

.corner-ribbon{
  width: 200px;
  background: $green;
  position: absolute;
  top: 30px;
  left: -60px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

  &.sticky{
  	  position: fixed;
  }

  
  &.top-right{
	  top: 30px;
	  right: -60px;
	  left: auto;
	  transform: rotate(45deg);
	  -webkit-transform: rotate(45deg);
	}

	&.top-left{
	  top: 25px;
	  left: -60px;
	  transform: rotate(-45deg);
	  -webkit-transform: rotate(-45deg);
	}
	
	&.shadow{
	  box-shadow: 0 0 3px rgba(0,0,0,.3);
	}
}

@media (max-width: 950px){
	.pages.home #bgVideo .theVids video{max-height:100%; width:auto !important;}
}

@media (max-width: 812px){
	.pages{
		&.home{
			.blogPosts{
				@include rem-fallback(padding, 25, 0);
				margin: 0 auto;
			}

			#ad-highlight{
				ul{
					li{
						@include rem-fallback(margin-bottom, 20);
					}
				}
			}
		}
	}
}

@media (max-width: 600px){
	.pages{
		&.home{
			#bgVideo{
				min-height: 0;

				.container{
					h1{
						@include rem-fallback(padding, 50, 0, 10);
					}
				}
			}
			.alpha-bg{
				form{
					.form-group, button{
						float:none;
						display:block;
						width:100%;
					}
				}
			}
		}
	}
}