// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "slick/slick.css.scss";
@import "slick/slick-theme.css.scss";
@import "blueimp/css/blueimp-gallery.min.css.scss";
@import "sweetalert/sweetalert";
@import "clockpicker/bootstrap-clockpicker.min.css.scss";

#showClub{
	margin-bottom:15px;
}

.slick-dots{
	bottom:-15px;
}

#profile_slick.slick-slider{
	padding-bottom:30px;
	margin-bottom:0;
}

.file-box{
	width:25%;

	.file{
		margin-right:0;

		.actions{
			z-index: 2; 
			position: absolute; 
			width: 100%; 
			top: 20%;
			display: none;
		}

		.icon{
			padding:0;

			img{
				margin:0;
			}
		}

		.file-name{
			word-break: break-all;
		}
	}

	&:hover{

		.file{
			.actions{
				display: block;
			}
		}
	}
}

.manufactors{
	@include rem-fallback(padding-bottom, 15);
	@include rem-fallback(margin-bottom, 15);
	border-bottom:1px solid #eee;

	ul{
		@include rem-fallback(margin-left,20);
	}
}

#loadingImg{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.6);
	z-index:100;

	svg{
		z-index: 101;
	}

	.progress{
		z-index:101;
		position: relative;
		width:90%;
		margin:0 auto;
		top:50%;
	}
}

#wrapper{
	&.profiles{
		&.edit{

			.table{
				.left{
					float:left;
				}
				.sep{
					float: left;
					line-height: 33px;
				}
			}

			.clearme{
				clear:both;
			}

			.note-editor{
				background:#fff;
			}

			.preview-lg {
			    height: 148px;
			    width: 263px;
			}
			.img-preview {
			    float: left;
			    margin-bottom: 10px;
			    margin-right: 10px;
			    overflow: hidden;
			}
			.img-container, .img-preview {
			    background-color: #f7f7f7;
			    text-align: center;
			    width: 100%;
			}

			.img-container {
			    min-height: 516px;
			}
			.img-container {
			    margin-bottom: 20px;
			    max-height: 516px;
			    min-height: 200px;
			}
			.img-container img {
			  width: 100%;
			}
			.img-container, .img-preview {
			    background-color: #f7f7f7;
			    text-align: center;
			    width: 100%;
			}

			.wizard > .steps > ul > li{
				width:20%;
			}

			#postcode{
				min-height:400px;
				display:block;
				width:100%;
				height:100%;
			}

			#theServices{
				div.col-lg-4{
					@include rem-fallback(padding, 20, 20);
				}

				hr{
					height:1px;
					width:100%;
					background:#ccc;
					display:block;
					clear:both;
				}
			}

			.wrapper-content{
				.ibox{
					p{
						&.note{
							display:block;
							clear:both;
						}
					}
				}
			}

			#profile-wizard{
				opacity: 0;
				//transition: all 3ms ease-in-out;

				&.wizard{
					animation-name: fadeInRight;
				}
			}

			.wizard{
				.content{
					.body{
						input{
							&.select2-search__field{
								border:none;
							}
						}
					}

					ul{
			
						li{
							list-style:none;
						}

						&.select2-selection{
							list-style:none;
						}
						&.select2-search{
							list-style:none;
						}
					}
				}
			}


		}
		.status{
			p{
				font-style: italic;
			}
		}

		.note{
			clear: both;
			display: block;
			@include rem-fallback(font-size, 18);
		}

		.socialButtons{
			float:none;

			.resp-sharing-button {
			  display: inline-block;
			  border-radius: 5px;
			  border-width: 1px;
			  border-style: solid;
			  transition: background-color 25ms ease-out, border-color 25ms ease-out, opacity 250ms ease-out;
			  margin: 0.5em;
			  padding: 0.5em 0.75em;
			  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
			}

			.resp-sharing-button a {
			  text-decoration: none;
			  color: #FFF;
			  display: block;
			}

			.resp-sharing-button__icon {
			  display: inline-block;
			}

			.resp-sharing-button__icon svg {
			  width: 1em;
			  height: 1em;
			  margin-bottom: -0.1em;
			}

			/* Non solid icons get a stroke */
			.resp-sharing-button__icon {
			  stroke: #FFF;
			  fill: none;
			}

			/* Solid icons get a fill */
			.resp-sharing-button__icon--solid,
			.resp-sharing-button__icon--solidcircle {
			  fill: #FFF;
			  stroke: none;
			}

			.resp-sharing-button__link {
			  text-decoration: none;
			  color: #FFF;
			}

			.resp-sharing-button--large .resp-sharing-button__icon svg {
			  padding-right: 0.4em;
			}

			.resp-sharing-button__wrapper {
			  display: inline-block;
			}

			.resp-sharing-button--facebook {
			  background-color: #3b5998;
			  border-color: #3b5998;
			}

			.resp-sharing-button--facebook:hover,
			.resp-sharing-button--facebook:active {
			  background-color: #2d4373;
			  border-color: #2d4373;
			}

			.resp-sharing-button--twitter {
			  background-color: #55acee;
			  border-color: #55acee;
			}

			.resp-sharing-button--twitter:hover,
			.resp-sharing-button--twitter:active {
			  background-color: #2795e9;
			  border-color: #2795e9;
			}

			.resp-sharing-button--google {
			  background-color: #dd4b39;
			  border-color: #dd4b39;
			}

			.resp-sharing-button--google:hover,
			.resp-sharing-button--google:active {
			  background-color: #c23321;
			  border-color: #c23321;
			}

			.resp-sharing-button--email {
			  background-color: #444444;
			  border-color: #444444;
			}

			.resp-sharing-button--email:hover
			.resp-sharing-button--email:active {
			  background-color: #2B2B2B;
			  border-color: #2B2B2B;
			}

		}

		.social-icon{
			li{
				min-width:25px;

				a{
					display: block;

					i{
						font-size: 28px;
					}
				}
			}
		}

		.status-box{

			@include rem-fallback(margin, 30, 0, 15);
			display:block;

			figure{
				padding:0;
				margin:0;
			}

			.status-post {
				position: relative;
				background: #ffffff;
				display: inline-block;
				vertical-align: top;
				@include rem-fallback(padding, 15, 20);
				@include rem-fallback(margin, 0,0,15, 0);

				em{
					opacity: 0.5;
					@include rem-fallback(font-size, 17);
				}

				&:after {
					right: 100%;
					top: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-color: rgba(255, 255, 255, 0);
					border-right-color: #ffffff;
					border-width: 5px;
					margin-top: -5px;
				}
			}
		}
	}
}

.profile-content{
	h4{
		@include rem-fallback(font-size, 28);
	}
	h5{
		@include rem-fallback(font-size, 23);
	}
}

.feed-activity-list{
	.feed-element{
		.media-body {
			margin:0;
			padding-left:0;
			img{
				margin:0;
				padding:0;
			}
		}
	}
}

.ibox{
	.services-list{
		
		margin:0;

		ul{

			margin:0;
			padding:0;

			li{
				display: inline-block;

				&.pro-retail-shop{

				}
			}
		}
	}
}

.contact-me.btn{
	font-size:16px;
	border-radius:5px;
	font-weight:600;
}

#statusUpdate{
	.message{
		@include rem-fallback(margin-bottom, 20);
	}
}