// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "ionRangeSlider/ion.rangeSlider.css.scss";
@import "ionRangeSlider/ion.rangeSlider.skinFlat.css.scss";
@import "leafletMarkercluster/MarkerCluster.css.scss";

.search{

	.wrapper-content{

		.corner-ribbon.top-left{
			z-index:9999;
		}

		.label{
			&.gold{
				vertical-align: top;
			}
		}

		.numbers{
			@include rem-fallback(padding, 15);
			h3{
				color:#aaa;
			}
			hr{
				border-color:#bbb;
			}
		}

		.didyoumean{
			p{
				font-style: italic;
			}
		}

		#filter-apply{
			margin:0;
		}

		.filter{
			@include rem-fallback(margin, 28, 0, 0, 0)
		}
	
		padding:none !important;

		.columns{

			height:auto;
			position:fixed;
			overflow-y:scroll;
			overflow-x:hidden;
			left:0;
			top:50px;
			bottom:51px;
			padding:0;

			&.pull-right{
				right:0;
				left:auto;
				overflow-y:hidden;
			}

			em {
		  		background: yellow;
			}

			.map { 
				position:absolute; 
				top:0; 
				bottom:0; 
				width:100%; 
				height:100%;
			}

			.ibox-content{

				.google-img{
					float:right;
					@include rem-fallback(margin-top, 15);
					max-height: 10px;
					width:auto;
				}

				form{

					.row{

						border-bottom:1px solid $grey20;
						@include rem-fallback(padding-top, 25);
						@include rem-fallback(padding-bottom, 25);

						h3{
							text-transform: capitalize;
						}

						&:first-of-type{
							padding-top:0;
						}

						.seperator{
							border-right:1px solid $grey20;
						}

						.type-filter{
							.col-lg-4{
								margin-left:0;
							}
						}

						label{

							@include rem-fallback(padding, 20, 20);
							border:1px solid $grey20;
							border-radius:5px;
							width:100%;
							@include rem-fallback(font-size, 21);



							&.facets{
								display:table;

								div{
									display:table-cell;

									span{
										@include rem-fallback(padding-right, 10);
										@include rem-fallback(padding-left, 10);
									}
								}
							}
						}

						&.no-border{
							border-bottom:none;
						}

						.input-group{

							width:100%;
							
							input{
							}

							.irs{
								.irs-from, .irs-single, .irs-to{
									background:$green;

									&:after{
										border-color:$green transparent transparent;
									}
								}
							}
						}

					}

					.collapse-group{

						@include rem-fallback(padding-top, 15);

						.options{
							@include rem-fallback(margin, 20, 0, 0);
						}

						button{
							@include rem-fallback(margin, 20, 0, 0);
							border-radius:5px;
							font-size:16px;
						}
					}
				}

			}

			.search-results{

				.row{

					.result-spacing{
						@include rem-fallback(padding, 10, 10);
	
						.item{
							background:#fff;
							border-radius:3px;
							padding:0;
							box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
							text-align:center;
							clear:both;
							overflow: hidden;
							position:relative;

							.truncate{
								height:20px;
							}

							figure{
								height:170px;
								overflow:hidden;
								float:none;
								padding:0;

								img{
									max-width:100%;
									position:relative;
									top:50%;
									transform:translateY(-50%);
								}
							}

							.info{
								@include rem-fallback(padding, 10, 20);
							}
						}	
					}
				}
			}

		}

	}

	footer{
		&.footer{
			position:fixed;
			bottom:0;
		}
	}
}

.leaflet-popup-content{
	a{
		display:block;
		text-align: center;

		img{
			max-width:100%;
			@include rem-fallback(margin, 5px, 0)
		}
	}
}

@media (max-width: 1200px){
	.filter-buttons{
		a{
			@include rem-fallback(margin-right, 20);
		}
	}

	img{
		width:100%;
	}
}

@media (max-width: 770px){
	.search{
		
		.wrapper{
			&.wrapper-content{
				padding-top:0 !important;

				p{

				}
			}
		}

		footer{
			&.footer{
				position:relative;
			}
		}
		.wrapper-content{
			.columns{
				position: relative;
				top:0;
				left:0;
				bottom:0;
				overflow:auto;
			}
		}
	}
}