@import "ladda/ladda-themeless.min.css.scss";
@import "ladda/ladda.min.css.scss";

#wrapper{
    &.subscription{
        &.upgrade{

            .stripe-button-el{
                .ladda-spinner{
                    display: none;
                }
            }

            .spacing-less{
                @include rem-fallback(padding, 20);
            }

            .plan{
                width:20%;
            }

            .ibox-content{

                .price{

                    margin-bottom: 15px;

                    h4,h5{
                        padding:20px;
                        background:$grey20;
                        font-size:15px;
                    }

                    h5{
                        background:$green;
                        color:white;

                        small{
                            color:#fff;
                        }
                    }

                }

                .team-members{
                    padding-bottom:20px;
                    text-align:center;

                    img{
                        max-width:80%;
                    }
                }

                ul{
                    list-style:none;
                    margin-left:0;
                    float:none;
                    padding-left:0;
                    margin: 0 auto;
                    @include rem-fallback(margin-bottom, 20);

                    li{
                        span{
                            padding-right:10px;

                            &.fa-check{
                                color:$green;
                            }

                            &.fa-times{
                                color:$red;
                            }
                        }

                        margin-bottom:15px;
                    }
                }
            }

            .featured{
                margin-top:-25px;

                .ibox{
                    box-shadow: 0 0 5px 2px $green40;

                    .ibox-content{
                        padding-top:40px;
                        padding-bottom:50px;

                    }
                }
            }
        }
    }
}