<footer class="row footer">
	<section class="small-footer">
		<div class="container">
			<div class="col-xs-4">
				<p>&copy; <%= Time.now.year %> Pro Finder Golf. All rights reserved.</p>
			</div>
			<div class="col-s-5 pull-right">
				<nav>
					<ul>
						<li><a target="_blank" href="/policies/terms-of-service.pdf">Terms of Service</a></li>
						<li><a target="_blank" href="/policies/privacy-policy.pdf">Privacy Policy</a></li>
						<li><a target="_blank" href="/policies/cookies-policy.pdf">Cookie Policy</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</section>
</footer>
