<% if (user_signed_in? and @profile.wizard.blank?) or !user_signed_in? %>
    <div class="row border-bottom white-bg thenavbar">
        <nav class="navbar navbar-default" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <i class="fa fa-reorder"></i>
                </button>
            <%= link_to(root_path, class: "navbar-brand") do %>
                <%= image_tag "svgs/branding/logo.svg", height: "40" %>
            <% end %>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="col-sm-3 col-md-3 search-bar <%= 'hide' if params[:controller].tr('^A-Za-z0-9', ' ') == 'search' %>">
                <form action="<%= search_path %>" role="search" class="navbar-form" method="get">
                    <div class="input-group">
                        <input class="form-control input-lg typeahead" name="q" placeholder="Search..." required="true" />
                    </div>
                </form>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <% if !user_signed_in? %><li><%= link_to "Search", search_path %></li><% end %>
                <% if user_signed_in? %><li><%= link_to "Dashboard", dashboard_path %></li><% end %> 
                <% if !user_signed_in? %><li><%= link_to "Sign In", new_user_session_path %></li><% end %>
                <% if user_signed_in? %>
                    <li id="advert-tab">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Adverts <small><i class="fa fa-chevron-down"></i></small></a>
                        <ul class="dropdown-menu dropdown-user" role="menu" aria-labelledby="dLabel">
                            <li><%= link_to "Manage Adverts", classifieds_path() %></li>
                            <li><%= link_to "Sold Invoices", invoices_path %></li>
                        </ul>
                    </li>
                <% end %>
                <% if user_signed_in? %>
                    <li id="profile-tab">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Profile <small><i class="fa fa-chevron-down"></i></small></a>
                        <ul class="dropdown-menu dropdown-user" role="menu" aria-labelledby="dLabel">
                            <li><%= link_to "Profile Overview", my_profile_path %></li>
                            <li><%= link_to "Profile Image Gallery", profile_gallery_path %></li>
                        </ul>
                        
                    </li>
                <% end %> 
                <% if user_signed_in? %>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <small><i class="fa fa-chevron-down"></i></small></a>
                        <ul class="dropdown-menu dropdown-user" role="menu" aria-labelledby="dLabel">
                            <li><%= link_to "Edit Account", edit_user_registration_path %></li>
                            <li><%= link_to "My Subscription", users_upgrade_path %></li>
                        </ul>
                    </li>
                <% end %> 
                <li id="tour-help">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <small><i class="fa fa-chevron-down"></i></small></a>
                    <ul class="dropdown-menu dropdown-user" role="menu" aria-labelledby="dLabel">
                        <li><a href="#" data-toggle="modal" data-target="#myModal5">Submit Help Ticket</a></li>
                        <li><a href="https://profindergolf.freshdesk.com/support/home" target="_blank">FAQ</a></li>
                    </ul>
                </li>
                <!--<% if user_signed_in? %><li><%= link_to "Upgrade", users_upgrade_path %></li><% end %>-->
                <% if user_signed_in? %><li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li><% end %> 
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>
    </div>

    <div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form id="feedback_form" novalidate="novalidate" accept-charset="UTF-8">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Let Us Help You</h4>
                        <small class="font-bold">Having problems using the app? Want to ask about something specific? Fill out the form below and we'll get back to you ASAP.</small>
                    </div>
                    <div class="modal-body">
                        <div id="loading" class="loading hide">
                            <!-- By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL -->
                            <svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a">
                                        <stop stop-color="#228844" stop-opacity="0" offset="0%"/>
                                        <stop stop-color="#228844" stop-opacity=".631" offset="63.146%"/>
                                        <stop stop-color="#228844" offset="100%"/>
                                    </linearGradient>
                                </defs>
                                <g fill="none" fill-rule="evenodd">
                                    <g transform="translate(1 1)">
                                        <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2">
                                            <animateTransform
                                                attributeName="transform"
                                                type="rotate"
                                                from="0 18 18"
                                                to="360 18 18"
                                                dur="0.9s"
                                                repeatCount="indefinite" />
                                        </path>
                                        <circle fill="#228844" cx="36" cy="18" r="1">
                                            <animateTransform
                                                attributeName="transform"
                                                type="rotate"
                                                from="0 18 18"
                                                to="360 18 18"
                                                dur="0.9s"
                                                repeatCount="indefinite" />
                                        </circle>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="name" value="<%= @profile.name if !@profile.nil? %>" placeholder="Your Full Name..." required="" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="email" type="email" name="email" value="<%= @profile.user.email if !@profile.nil? %>" placeholder="Your Email Address..."  required="" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="subject" placeholder="What's your issue about?" required="" />
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="Tell us what's on your mind..." required="" ></textarea>
                        </div>
                    </div>  

                    <div class="modal-footer">
                        <button type="cancel" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="submit" id="helpSubmit" class="btn btn-primary ladda-button" data-style="slide-up"><span class="ladda-label">Save changes</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<% end %>