<!DOCTYPE html>
<html>
  <head>
    <title>Pro Finder Golf</title>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "print", media: "print" %>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
  	<%= csrf_meta_tags %>
  </head>
  <body class="top-navigation">

      <!-- Wrapper-->
      <div id="wrapper" class="<%= params[:controller].tr('^A-Za-z0-9', ' ') %> <%= params[:action] %>">

          <!-- Page wraper -->
          <div id="page-wrapper" class="gray-bg <%= @extra_class %>">
              <!-- Page wrapper -->
              <% if params[:controller].downcase().include? "pages" or params[:controller].downcase().include? "devise" %>

                <%= render 'layouts/topnavbar' %>

                <!-- Main view  -->

                  <%= render partial: "layouts/flash_messages", flash: flash %> 
      
                  <%= yield %>
      
              <% else %>
              
                  <div class="propanel">
                    <%= render 'layouts/topnavbar' %>
                  </div>

                  <%= render partial: "layouts/flash_messages", flash: flash %> 
      
                  <%= yield %>

              <% end %>

              <!-- Footer -->
              <%= render 'layouts/footer' %>

          </div>
          <!-- End page wrapper-->

      </div>
      <!-- End wrapper-->
      
      <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>

      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

      <script type="text/javascript" id="cookiebanner" data-moreinfo="/policies/cookies-policy.pdf" data-bg="#228844" src="<%= asset_path( "cookiebanner.js") %>"></script>
      
      <% if Rails.env == "production"  %>

        <% content_for :javascript do %>
          <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-73085092-1', 'auto');
            ga('send', 'pageview');

          </script>
          <!-- Hotjar Tracking Code for https://www.profinder.golf -->
          <script>
              (function(h,o,t,j,a,r){
                  h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                  h._hjSettings={hjid:174359,hjsv:5};
                  a=o.getElementsByTagName('head')[0];
                  r=o.createElement('script');r.async=1;
                  r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                  a.appendChild(r);
              })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
          </script>

          <script> 
            var $buoop = {vs:{i:9,f:25,o:12.1,s:7},c:2}; 
            function $buo_f(){ 
             var e = document.createElement("script"); 
             e.src = "//browser-update.org/update.min.js"; 
             document.body.appendChild(e);
            };
            try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
            catch(e){window.attachEvent("onload", $buo_f)}
          </script> 
  
        <% end %>
      <% end %>

      <%= yield :javascript %>

  </body>
</html>
